= semantic_form_for @service_area do |form|
  = form.inputs do
    =form.input :name, :label => "Title"
    - value = @service_area.approver_email.blank?&&params[:service_area] ? params[:service_area][:approver_email] : @service_area.approver_email
    =form.autocompleted_input :approver_email, :url => autocomplete_user_email_service_areas_path, :label => "Service Area Senior Officer", :required => false, :value => value
    =form.input :retired, :label => "Retired?"
  = form.buttons do
    = form.submit "Save"
    =raw "or #{link_to "cancel", service_areas_path}"
#formHelp
  %p
    %strong Title:
    the title of the Service Area
  %p
    %strong Service Area Senior Officer:
    the email address of the default Service Area Senior Officer, which will be the initial Senior Officer suggested when creating new EAs in this Service Area. This field will auto-complete from the available users. If the user you wish to assign does not appear in the prepopulated list, please contact Service Birmingham.
  %p
    %strong Retired?:
    if retired, this Service Area will no longer be available for selection when creating new EAs.
