= semantic_form_for @service_area do |form|
  = form.inputs do
    =form.input :name, :label => "Service Area"
    - value = @service_area.approver_email.blank?&&params[:service_area] ? params[:service_area][:approver_email] : @service_area.approver_email
    =form.autocompleted_input :approver_email, :url => autocomplete_user_email_service_areas_path, :label => "Service Area Senior Officer", :required => false, :value => value
    =form.input :retired, :label => "Retired?"
  = form.buttons do
    = form.submit "Save"
    =raw "or #{link_to "cancel", service_areas_path}"
#formHelp
  %p
    %strong Service Area Approver:
    the email address of the default Service Area Approver, which will be the initial Approver suggested when creating new EAs in this Service Area. This field will autocomplete from the available users.
  %p
    %strong Retired?:
    if retired, this Service Area will no longer be available for selection when creating new EAs.