= semantic_form_for @service_area do |form|
  = form.inputs do
    =form.input :name, :label => "Title"
    - if current_user.all_directorates.count > 1
      =form.input :directorate_id, :as => :select, :label => "Directorate", :collection => current_user.all_directorates.active, :label_method => :name, :value_method => :id, :include_blank => false
    - value = @service_area.approver_email.blank?&&params[:service_area] ? params[:service_area][:approver_email] : @service_area.approver_email
    =form.input :approver_email, :url => autocomplete_user_email_service_areas_path, :label => "Service Area Senior Officer", :required => false, :value => value, as: :autocomplete
    =form.input :retired, :label => "Retired?"
  = form.actions do
    = form.submit "Save"
    =raw "or #{link_to "cancel", service_areas_path}"
#formHelp
  %p
    %strong Title:
    the title of the Service Area
  %p
    %strong Service Area Senior Officer:
    the email address of the default Service Area Senior Officer, which will be the initial Senior Officer suggested when creating new EAs in this Service Area. This field will auto-complete from the available users. If the user you wish to assign does not appear in the prepopulated list, please contact Borchester IT Services.
  %p
    %strong Retired?:
    if retired, this Service Area will no longer be available for selection when creating new EAs.
