%h2 Service Areas
.orangeButton
  =link_to "Add Service Area", new_service_area_path, :class=>"add"
%table#sortable{:cellspacing=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th Service Area Name
      %th Directorate
      %th Service Area Senior Officer
      %th Retired?
      %th.last
    %tr
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %td.last.sortControls
  %tbody
    - @service_areas.each do |service_area|
      %tr{:class => cycle("light", "dark")}
        %td= service_area.name
        %td= service_area.directorate.name
        %td= service_area.approver.email
        = fields_for service_area do |f|
          %td.checkbox
            = f.check_box :retired, "data-path" => toggle_retired_status_service_area_path(service_area, :checkbox => :retired), :confirm => "Are you sure you wish to retire this service area?"
        %td.last= link_to "edit", edit_service_area_path(service_area), :class => "action edit", :target => "blank"