= semantic_form_for @directorate do |form|
  = form.inputs do
    =form.input :name, :label => "Title"
    =form.input :abbreviation, :label => "Abbreviation"
    / =form.hidden_field :cop_id
    =form.hidden_field :creator_id
    = form.autocompleted_input :creator_email, :url => autocomplete_user_email_directorates_path, :id_element => '#directorate_creator_id', :label => "Directorate Contact Officer"
    / =form.autocompleted_input :cop_email, :url => autocomplete_user_email_directorates_path, :id_element => '#directorate_cop_id', :label => "Governance Officer"
    =form.input :retired, :label => "Retired?"
  = form.buttons do
    = form.submit "Save"
    =raw "or #{link_to "cancel", directorates_path}"
#formHelp
  %p
    %strong Title*:
    must be unqiue.
  %p
    %strong Abbreviation: 
    must be unqiue, as this is used to generate the reference codes for EINAs within this Directorate.
  %p
    %strong Directorate Contact Officer:
    the email address of the assigned Directorate Contact Officer, who will be responsible for creating the Service Areas and EINAs within this directorate. This field will autocomplete from the available users.
  %p
    %strong Retired?:
    if retired, this Directorate it will no longer be available for selection when creating new EINAs.