= semantic_form_for @directorate do |form|
  = form.inputs do
    =form.input :name, :label => "Title"
    - if @directorate.cops.count > 0
      =form.input "cop_email0", :url => autocomplete_user_cop_email_directorates_path, :label => "Governance Officer", :required => false, :name => 'directorate[cop_email][]', as: :autocomplete
      %li.multi
        - @directorate.cops.each_with_index do |cop, i|
          - if i > 0
            = raw("<div class=\"input_div\"><label></label><input data-autocomplete=\"/directorates/autocomplete_user_cop_email\" id=\"directorate_cop_email\" name=\"directorate[cop_email][]\" size=\"30\" type=\"text\" value=\"#{h(cop.email)}\" class=\"ui-autocomplete-input multi\" autocomplete=\"off\" role=\"textbox\" aria-autocomplete=\"list\" aria-haspopup=\"true\"><a href=\"#\" class=\"delete_dgo\">delete</a><br/></div>")
    - else
      =form.input "cop_email", :url => autocomplete_user_cop_email_directorates_path, :label => "Governance Officer", :required => false, :name => 'directorate[cop_email][]', :wrapper_html => { :class => 'multi' }, as: :autocomplete
    = link_to 'add another Governance Officer', '#', :class => 'add_officer_link'
    =form.input :retired, :label => "Retired?"
  = form.actions do
    = form.submit "Save"
    =raw "or #{link_to "cancel", directorates_path}"
#formHelp
  %p
    %strong Title*:
    must be unique.
  %p
    %strong Directorate Contact Officer:
    the email address of the assigned Directorate Contact Officer, who will be responsible for creating the Service Areas and EAs within this directorate. This field will auto-complete from the available users. If the user you wish to assign does not appear in the prepopulated list, please contact the Directorate Contact Officer.
  %p
    %strong Directorate Governance Officer:
    the email address of the assigned Directorate Governance Officer. This field will auto-complete from the available users. If the user you wish to assign does not appear in the prepopulated list, please contact the Directorate Contact Officer.
  %p
    %strong Retired?:
    this Directorate will no longer be available for selection when creating new EAs.
