- content_for :head do
  = javascript_tag "admin"

%h2 Directorates
.orangeButton
  =link_to "Add Directorate", new_directorate_path, :class=>"add"
%table#sortable{:cellspacing=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th Directorate Name
      %th Abb.
      %th Retired?
      %th Directorate Contact Officer
      %th.last
    %tr
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %td.last.sortControls
  %tbody
    - @directorates.each do |directorate|
      %tr{:class => cycle("light", "dark")}
        %td
          = directorate.name 
          - if directorate.retired?
            %span.retired
              ="(Retired)"
        %td= directorate.abbreviation
        %td.retiredCheckbox.checkbox
          = fields_for directorate do |f|
            = f.check_box :retired, "data-path" => toggle_directorate_status_directorate_path(directorate, :checkbox => :retired), :confirm => "Are you sure you wish to retire this directorate?"
        %td= directorate.creator.email
        %td.last= link_to "edit", edit_directorate_path(directorate), :class => "action edit"