%h2= "#{@organisation.name.titleize} Directorates"

#pdf_link{:style=>"width:auto;"}
  = image_tag('icons/chart_organisation_add.png')
  = link_to 'New directorate', {:action => 'new', :controller => 'directorates', :organisation_id => @organisation.id}
  %br

%table
  %tr
    %th.left Name
    %th Managers Email
    %th{:nowrap=>"nowrap"}Last Reminder
    %th
  - for directorate in @directorates
    %tr
      %td.left{:nowrap=>"nowrap"}
        = directorate.name.to_s
      %td
        = link_to directorate.directorate_manager.email, "mailto:#{directorate.directorate_manager.email}?subject=#{directorate.name}", :title =>"Email" unless directorate.directorate_manager.nil?
      %td
        = date_or_blank(directorate.directorate_manager.reminded_on) if directorate.directorate_manager
      %td.actions{:nowrap=>"nowrap"}
        = link_to image_tag('icons/login.gif'), directorate.directorate_manager.url_for_login(request) , :title =>"Login" if directorate.directorate_manager
        = link_to image_tag('icons/eye.gif'), organisation_directorate_url(@organisation, directorate), :title =>"View"
        = link_to image_tag('icons/remind.gif'), { :controller => 'users', :action => 'remind', :id => directorate.directorate_manager}, :confirm => "Send reminder for #{directorate.name} to #{directorate.directorate_manager.email}?", :method => :post, :title =>"Remind" if directorate.directorate_manager
        = link_to image_tag('icons/edit.gif'), edit_organisation_directorate_url(@organisation, directorate), :title =>"Edit"
        = link_to image_tag('icons/delete.gif'), organisation_directorate_url(@organisation, directorate), :method => :delete, :confirm => "Delete #{directorate.name}?", :title =>"Delete"

.clear
%span.button
  = link_to 'Back', organisations_url