%li.issue
  - fields_for "issue[]", review_issue do |issue_form|
    %span.issueDescription
      =h review_issue.description
    %span.issueControls
      / = link_to_function image_tag('icons/cross.gif') + "delete", "mark_for_issue_destroy(this)"
      = link_to_function image_tag('icons/edit.gif') + "show/hide details", "Element.toggle('details_#{review_issue.id}')"
      = issue_form.hidden_field :issue_destroy
    %span.issueDetails{:id => "details_#{review_issue.id}", :style => "display:none;"}
      %p.question.sub
        %label
          Description
          = issue_form.text_field :description
        %label
          Actions
        = issue_form.text_area :actions
        %label
          Resources
        = issue_form.text_area :resources
        %label
          Timescales
        = issue_form.text_area :timescales
        %label
          Lead Officer
        = issue_form.text_area :lead_officer
    .clear