%li.issue
  - fields_for "issue[]", review_issue do |issue_form|
    %span.issueDescription
      =h review_issue.description
    %span.issueControls
      = link_to_function image_tag('icons/delete.gif', :title => 'Delete') + "Delete", "mark_for_issue_destroy(this)"
      = link_to_function image_tag('icons/edit.gif') + "Open Action Plan", "Element.toggle('details_#{review_issue.id}'); Element.toggle('close_issue_#{review_issue.id}'); Element.toggle('open_issue_#{review_issue.id}'); document.getElementById('issue_#{review_issue.id}_actions').focus()", :id => "open_issue_#{review_issue.id}"
      = link_to_function image_tag('icons/edit.gif') + "Minimize Action Plan", "Element.toggle('details_#{review_issue.id}'); Element.toggle('open_issue_#{review_issue.id}'); Element.toggle('close_issue_#{review_issue.id}'); document.getElementById('open_issue_#{review_issue.id}').focus()", :id => "close_issue_#{review_issue.id}", :style => 'display:none'
      = issue_form.hidden_field :issue_destroy, :class => 'issue_destroy'
    %span.issueDetails{:id => "details_#{review_issue.id}", :style => "display:none;"}
      %p.question.sub
        %label
          Summary actions to address the issues
        = issue_form.text_area :actions
        %label
          Resources necessary to implement the actions
        = issue_form.text_area :resources
        %label
          Timescales for commencing and completing the actions
        = issue_form.text_area :timescales
        %label
          Lead Officer responsible for the Action Plan
        = issue_form.text_area :lead_officer
    .clear
