= error_messages_for 'organisation_manager'
= error_messages_for 'organisation'

%script
  function addListItem() {
  var list = document.getElementById('directorates_list');
  list.innerHTML = list.innerHTML + "<li><input id=\"directorates[]\" type=\"text\" name=\"directorates[]\"/></li>";
  }
%p
  %label Name
  %span.labelled
    = text_field 'organisation', 'name', 'size' => 50
%fieldset.organisation_customisation
  %legend Organisation Managers
  -fields_for :organisation_manager do |org_man_fields|
    .organisation_managers
      #organisation_managers_list
        = render :partial => 'users/organisation_manager', :collection => @organisation.organisation_managers
      %span#add_link{:style=>"width:auto;"}
        = image_tag('icons/add.gif')
        = link_to_function "Add an Organisation Manager" do |page|
          - page.insert_html :bottom, :organisation_managers_list, :partial => 'users/organisation_manager', :object => OrganisationManager.new
      .clear
%fieldset.organisation_customisation
  %legend Customisation
  %p
    %label Style:
    %span.labelled
      = text_field 'organisation', 'style'
  %p
    %label Link to CES document:
    %span.labelled
      - if @organisation.ces_link?
        = text_field 'organisation', 'ces_link'
      - else
        = text_field 'organisation', 'ces_link', :value => 'http://'
    %span.help_example e.g. http://organisation.org/CES.pdf
  %p
    %label.long Text to be used when asking about an Activities strategies:
    %br
    %span.labelled.long
      = radio_button :organisation, :strategy_text_selection, 0
      %span.answer "How do you contribute to our goals?"
      %br
      = radio_button :organisation, :strategy_text_selection, 1
      %span.answer "For each strategy, please decide whether it is going to be significantly aided by the activity"
%fieldset.organisation_customisation
  %legend Localised Terminologies
  -fields_for :organisation_terminologies do |org_term_field|
    .organisation_terminologies
      #organisation_terminologies_list
        = render :partial => 'organisation_terminologies/organisation_terminology', :collection => @organisation_terminologies
      .clear
%fieldset.organisation_customisation
  %legend Organisation-Wide Strategies
  -fields_for :organisation_strategy do |strategy_fields|
    .strategies
      #strategies_list
        = render :partial => 'strategies/strategy', :collection => @organisation.organisation_strategies, :locals => {:string_parent => 'organisation', :string_type => 'organisation_strategy'}
      %span#add_link{:style=>"width:auto;"}
        = image_tag('icons/add.gif')
        = link_to_function "Add a Strategy" do |page|
          -page.insert_html :bottom, :strategies_list, :partial => 'strategies/strategy', :object => OrganisationStrategy.new, :locals => {:string_parent => 'organisation', :string_type => 'organisation_strategy'}
      .clear