%h2 Organisations

#pdf_link{:style=>"width:auto;"}
  = image_tag('icons/add.gif')
  = link_to 'New organisation', new_organisation_url
  %br
%table
  %tr
    %th.left Name
    %th Actions
    %th
  - for organisation in @organisations
    %tr
      %td.left{:nowrap=>"nowrap"}
        =h organisation.name
      %td.actions{:nowrap=>"nowrap"}
        = link_to image_tag('icons/chart_organisation.png'), organisation_directorates_url(organisation), :title =>"Directorates"
        = link_to image_tag('icons/lightbulb.png'), organisation_projects_url(organisation), :title =>"Projects"
        = link_to image_tag('icons/view.gif'), organisation, :title =>"View"
        = link_to image_tag('icons/edit.gif'), edit_organisation_url(organisation), :title =>"Edit"
        = link_to image_tag('icons/delete.gif'), organisation, :confirm => "Delete #{organisation.name}?", :method => :delete, :title =>"Delete"

%br
= will_paginate(@organisations) unless @organisations.empty?
.clear
