%h2 Organisations

#pdf_link{:style=>"width:auto;"}
  = image_tag('icons/add.gif')
  = link_to 'New organisation', new_organisation_url
  %br

%table
  %tr
    %th.left Name
    %th Editor
    %th{:nowrap=>"nowrap"}Last Reminder
    %th
  - for organisation in @organisations
    - organisation.organisation_managers.each do |organisation_manager|
      %tr
        %td.left{:nowrap=>"nowrap"}
          = if organisation_manager == organisation.organisation_managers.first then h organisation.name else "" end
        %td
          = link_to organisation_manager.email, "mailto:#{organisation_manager.email}?subject=#{organisation.name}", :title =>"Email"
        %td
          = date_or_blank(organisation_manager.reminded_on)
        %td.actions{:nowrap=>"nowrap"}
          = link_to image_tag('icons/login.gif'), organisation_manager.url_for_login(request) , :title =>"Login"
          = link_to image_tag('icons/strategies.gif'), organisation_directorates_url(organisation), :title =>"Directorates"
          = link_to image_tag('icons/strategies.gif'), organisation_projects_url(organisation), :title =>"Projects"
          = link_to image_tag('icons/eye.gif'), organisation, :title =>"View"
          = link_to image_tag('icons/remind.gif'), { :controller => 'users', :action => 'remind', :id => organisation_manager}, :confirm => "Send reminder for #{organisation.name} to #{organisation_manager.email}?", :method => :post, :title =>"Remind"
          = link_to image_tag('icons/edit.gif'), edit_organisation_url(organisation), :title =>"Edit"
          = link_to image_tag('icons/delete.gif'), organisation, :confirm => "Delete #{organisation.name}?", :method => :delete, :title =>"Delete"

%br
= will_paginate(@organisations) unless @organisations.blank?
.clear