%h2
  =h @organisation.name

#show_organisation
  %fieldset.organisation_customisation
    %legend Organisation Managers
    -@organisation_managers.each do |organisation_manager|
      %p
        %label E-mail
        %span.labelled
          = link_to organisation_manager.email, "mailto:#{organisation_manager.email}?subject=#{@organisation.name}", :title =>"Email"
          = link_to image_tag('icons/login.gif'), organisation_manager.url_for_secret_login(request) , :title =>"Login"
          &nbsp;
          = link_to image_tag('icons/remind.gif'), { :controller => 'users', :action => 'remind', :id => organisation_manager}, :confirm => "Send reminder for #{@organisation.name} to #{organisation_manager.email}?", :method => :post, :title =>"Remind"          
          &nbsp;        
          ="(#{date_or_blank(organisation_manager.reminded_on)})"

  %fieldset.organisation_customisation
    %legend Organisation Details
    %p
      %label Created
      %span.labelled
        = date_or_blank(@organisation.created_on)
    %p
      %label Last Updated
      %span.labelled
        = date_or_blank(@organisation.updated_on)

  %fieldset.organisation_customisation
    %legend Customisation
    %p
      %label Subdomain:
      %span.labelled
        = @organisation.subdomain
    %p
      %label Link to CES document:
      %span.labelled
        -if @organisation.ces_link
          = link_to @organisation.ces_link, @organisation.ces_link
    %p
      %label.long Text to be used when asking about an Activity's strategies:
      %span.labelled.long.indent
        =h @organisation.strategy_text

  %fieldset.organisation_customisation
    %legend Terminologies
    - @organisation.organisation_terminologies.each do |org_term|
      %p
        %label=h "#{org_term.terminology.term}:"
        %span.labelled
          = org_term.value.to_s
        
  %fieldset.organisation_customisation
    %legend Directorates
    -fields_for :directorate do |directorate_fields|
      .directorates
        %ul#directorates_list
          -for directorate in @directorates
            %li
              =h directorate.name
        .clear

%span.button{:style=>"float:right;"}
  = link_to 'Edit', {:action => 'edit', :id => @organisation}

%span.button
  = link_to 'Back', {:controller => 'organisations'}
