%h2
  =h @organisation.name

#show_organisation

%p
  %label Email
  %span.labelled
    = link_to @organisation_manager.email, "mailto:#{@organisation_manager.email}"

%p
  %label Last Reminded
  %span.labelled
    = date_or_blank(@organisation_manager.reminded_on)

%p
  %label Created
  %span.labelled
    = date_or_blank(@organisation.created_on)

%p
  %label Last Updated
  %span.labelled
    = date_or_blank(@organisation.updated_on)

%fieldset.organisation_customisation
  %legend Customisation
  %p
    %label Style:
    %span.labelled
      = @organisation.style
  %p
    %label Localised term for 'CES document':
    %span.labelled
      = @organisation.ces_term
  %p
    %label Link to CES document:
    %span.labelled
      -if @organisation.ces_link
        = link_to @organisation.ces_link, @organisation.ces_link
  %p
    %label Localised term for 'Directorate':
    %span.labelled
      =h @organisation.directorate_term
  %p
    %label.long Text to be used when asking about an Activities strategies:
    %span.labelled.long.indent
      =h @organisation.strategy_text
%fieldset.organisation_customisation
  %legend Directorates
  -fields_for :directorate do |directorate_fields|
    .directorates
      %ul#directorates_list
        -for directorate in @directorates
          %li
            =h directorate.name
      .clear

%span.button{:style=>"float:right;"}
  = link_to 'Edit', {:action => 'edit', :id => @organisation}

%span.button
  = link_to 'Back', {:controller => 'organisations'}