.searchBox
  %label Search for:
  %input{:type=>"text"}
  %input{:type=>"submit", :value=>"Search"}
.orangeButton
  =link_to "Add User", new_user_path, :class=>"add"
%table{:cellspacing=>"0", :cellpadding=>"0", :border=>"collapse"}
  %tr
    %th.first
      Email Address
    %th.dateTime
      Last Logged in
    %th
      Trained?
    %th
      Locked?
    %th
      Retired?
    %th
      Directorate Contact&nbsp;Officer?
    %th
  %tr
    %td.sortControls
      =link_to "sort ascending","#", :class=>"up selected", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %td.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %td.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %td.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %td.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %td.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %td.sortControls
  - @users.each do |user|
    %tr{:class => cycle("light", "dark")}
      %td= user.email
      %td= user.last_sign_in_at
      = fields_for user do |f|
        %td.checkbox= f.check_box :trained, "data-path" => toggle_user_status_user_path(user, :checkbox => :trained)
        %td.checkbox= f.check_box :locked, "data-path" => toggle_user_status_user_path(user, :checkbox => :locked)
        %td.checkbox= f.check_box :retired, "data-path" => toggle_user_status_user_path(user, :checkbox => :retired)
        %td.checkbox= f.check_box :creator, "data-path" => toggle_user_status_user_path(user, :checkbox => :creator)
        %td= link_to "edit", edit_user_path(user), :class => "edit action"