.searchBox
  = form_tag '#', :id => 'searchForm' do
    %label Search for:
    = text_field_tag 'search_term', '', :class => 'textField'
    = submit_tag 'Search', :class => 'submitButton'
.orangeButton.add_user
  =link_to "Add User", new_user_path, :class=>"add new_user"

%table#sortable.searchable{:cellspacing=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th.first
        Email Address
      %th.dateTime
        Last Logged in
      %th.retired
        =#"Trained?"
        =#"Locked?"
        Retired?
      %th
        Directorate Contact&nbsp;Officer?
      %th
        Corporate Governor?
      %th.last
    %tr
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls.last
        &nbsp;
  %tbody
    - @users.each do |user|
      %tr{:class => cycle("light", "dark")}
        %td= user.email
        %td= user.last_sign_in_at || raw('&nbsp;')
        = fields_for user do |f|
          %td.checkbox
            =# f.check_box :trained, "data-path" => toggle_user_status_user_path(user, :checkbox => :trained)
            =# f.check_box :locked, "data-path" => toggle_user_status_user_path(user, :checkbox => :locked)
            = f.check_box :retired, "data-path" => toggle_user_status_user_path(user, :checkbox => :retired), :confirm => "Are you sure you wish to retire this user?"
          %td.checkbox= f.check_box :creator, "data-path" => toggle_user_status_user_path(user, :checkbox => :creator)
          %td.checkbox= f.check_box :corporate_cop, "data-path" => toggle_user_status_user_path(user, :checkbox => :corporate_cop)
          %td.last= link_to "edit", edit_user_path(user), :class => "edit action"

