.searchBox
  %label Search for:
  %input{:type=>"text"}
  %input{:type=>"submit", :value=>"Search"}
.orangeButton
  =link_to "Add User", new_user_path, :class=>"add"
%table
  %tr
    %th Email Address
    %th Last Logon
    %th Locked
    %th Retired
    %th
  - @users.each do |user|
    %tr{:class => cycle("light", "dark")}
      %td= user.email
      %td= user.last_sign_in_at
      %td= user.locked? ? "Yes" : ""
      %td= user.retired? ? "Yes" : ""
      %td= link_to "edit", edit_user_path(user), :class => "edit action"