- if DEV_MODE then
  %h1 Keys
  %h2 Administrators
  %ul
    - @administrators.each do |admin|
      %li
        = link_to admin.email, admin.url_for_secret_login(request)
  %hr
  %h2 Organisations
  %ul
    - @organisations.each do |org|
      %li
        %h3
          = org.name
        %p
          Manager(s):
          - org.organisation_managers.each do |om|
            = link_to om.email, om.url_for_secret_login(request)
        -if org.activity_creator
          %p
            Activity Creator:
            = link_to org.activity_creator.email, org.activity_creator.url_for_secret_login(request)
        %h4 Directorates
        %ul
          - org.directorates.each do |directorate|
            %li
              %h5
                = directorate.name
                - if directorate.directorate_manager
                  (
                  = link_to directorate.directorate_manager.email, directorate.directorate_manager.url_for_secret_login(request)
                  )
              %ul
                - directorate.activities.each do |activity|
                  %li
                    = activity.name
                    (
                    = link_to activity.activity_manager.email, activity.activity_manager.url_for_secret_login(request)
                    )
                    - if activity.activity_approver
                      ( Approver : 
                      = link_to activity.activity_approver.email, activity.activity_approver.url_for_secret_login(request)
                      )
        %hr
        %h4 Projects
        %ul
          - org.projects.each do |project|
            %li
              %h5
                = project.name
                (
                = link_to project.project_manager.email, project.project_manager.url_for_secret_login(request)
                )
              %ul
                - project.activities.each do |activity|
                  %li
                    = activity.name
                    (
                    = link_to activity.activity_manager.email, activity.activity_manager.url_for_secret_login(request)
                    )
        %hr