- if DEV_MODE then
  %h1 Keys
  %h2 Administrators
  %ul
    - @administrators.each do |admin|
      %li
        = link_to admin.email, admin.url_for_secret_login(request)
  %hr
  %h2 Organisations
  %ul
    - @organisations.each do |org|
      %li
        %h3
          = org.name
          (
          = link_to OrganisationManager.find_by_organisation_id(org.id).email, OrganisationManager.find_by_organisation_id(org.id).url_for_secret_login(request)
          )
        %h4 Directorates
        %ul
          - org.directorates.each do |directorate|
            %li
              %h5
                = directorate.name
                - if DirectorateManager.find_by_directorate_id(directorate.id)
                  (
                  = link_to DirectorateManager.find_by_directorate_id(directorate.id).email, DirectorateManager.find_by_directorate_id(directorate.id).url_for_secret_login(request)
                  )
              %ul
                - directorate.activities.each do |activity|
                  %li
                    = activity.name
                    (
                    = link_to activity.activity_manager.email, activity.activity_manager.url_for_secret_login(request)
                    )
                    ( Approver : 
                    - if activity.id == 26
                      = link_to activity.activity_approver.email, activity.activity_approver.url_for_secret_login(request)
                    )
        %hr
        %h4 Projects
        %ul
          - org.projects.each do |project|
            %li
              %h5
                = project.name
                - if ProjectManager.find_by_project_id(project.id)
                  (
                  = link_to ProjectManager.find_by_project_id(project.id).email, ProjectManager.find_by_project_id(project.id).url_for_secret_login(request)
                  )
              %ul
                - project.activities.each do |activity|
                  %li
                    = activity.name
                    (
                    = link_to activity.activity_manager.email, activity.activity_manager.url_for_secret_login(request)
                    )
        %hr
