#preview
  = image_tag 'sample_pdf.png'
  %span#org_name Organisation Name
  %span#act_name Activity 1
  %span#act_man manager@example.com
  %span#act_approv approver@example.com
#form_holder
  %h1 Free Access Signup
  - form_tag({:action => 'signup'}, {:id => 'signup_form'}) do
    %p
      %label Email address:
      = text_field_tag 'email', '', :onKeyUp => 'updatePreview(this)'
      %span.form_note
        Enter your email address to test the tool as an Activity Manager.
    %p
      %label Organisation name:
      = text_field_tag 'organisation', '', :onKeyUp => 'updatePreview(this)'
      %span.form_note
        Enter the name of your organisation.
    %p
      %label Activity name:
      = text_field_tag 'activity', 'Activity 1', :onKeyUp => 'updatePreview(this)'
      %span.form_note
        Enter a name for your activity.
    %p
      %span.button{:style=>'clear:left; float:left'}
        = submit_tag "Signup", :disable_with => 'Creating...', :class => 'submit'
      %span.button{:style=>'float:right'}
        %input{:type=>'button', :value=>'View sample PDF', :onclick=>"window.location='#{sample_pdf_url}?'+$('signup_form').serialize();", :class=>'button'}