.more{:id => "more_activity_strategy_#{activity_strategy.id}", :style => "display:none"}
  %h3
    =image_tag ("icons/help.gif")
    Help:
  .help
    = @activity.hashes['header_help_text']['purpose_overall_1'][@activity.fun_pol_number][@activity.exist_prop_number].to_s
  %h3
    =image_tag ("icons/strategies.gif")
    Strategy Description:
  -if !activity_strategy.strategy.description.blank? then
    .help
      =activity_strategy.strategy.description
  -else
    %p.nohelp Sorry - no description for this strategy.
  %h3
    =image_tag ("icons/comment.gif")
    Comment for report:
  - if activity_strategy.comment then comment_text = activity_strategy.comment.contents else comment_text = "" end
  - opt = ['none', 'block']
  - flag = (!comment_text.blank? ? 1 : 0)
  .normalcommentview{:id => "activity_strategy_#{activity_strategy.id}_comment_view", :style => "display:#{opt[flag]}"}
    %p.comment{:id => "activity_strategy_#{activity_strategy.id}_comment"}
      =split_long_strings(comment_text)
    .control
      =image_tag ("icons/comment_delete.gif")
      =link_to_remote "Delete", :url => {:action => 'destroy_strategy', :controller => :comment, :activity_strategy_id => activity_strategy.id}, :confirm => "Delete this comment?", :update => "activity_strategy_#{activity_strategy.id}_comment", :complete => "cancel_comment('activity_strategy_#{activity_strategy.id}'); document.getElementById('activity_strategy_#{activity_strategy.id}_comment_fill_in').value = ''"
    .control
      =image_tag ("icons/comment_edit.gif")
      =link_to_function "Edit", "edit_comment('activity_strategy_#{activity_strategy.id}');"
  .new_comment{:id => "activity_strategy_#{activity_strategy.id}_comment_new", :style => "display:#{opt[1 - flag]}"}
    .control
      =image_tag ("icons/comment_add.gif")
      =link_to_function "Add new comment for report", "new_comment('activity_strategy_#{activity_strategy.id}');"
  .commentform{:id => "activity_strategy_#{activity_strategy.id}_comment_form", :style => "display:none"}
    =text_area_tag "comment", comment_text, :id => "activity_strategy_#{activity_strategy.id}_comment_fill_in"
    = link_to_remote "Save", :url => {:action => 'edit_strategy', :controller => :comment, :activity_strategy_id => activity_strategy.id}, :with => "'comment='+document.getElementById('activity_strategy_#{activity_strategy.id}_comment_fill_in').value", :update => "activity_strategy_#{activity_strategy.id}_comment", :complete => "edit_comment('activity_strategy_#{activity_strategy.id}')"
    |
    =link_to_function "Cancel", "cancel_comment('activity_strategy_#{activity_strategy.id}');"
  %h3
    =image_tag ("icons/note.gif")
    Note to myself:
  - if activity_strategy.note then note_text = activity_strategy.note.contents else note_text = "" end
  - flag = (!note_text.blank? ? 1 : 0)
  .normalnoteview{:id => "activity_strategy_#{activity_strategy.id}_note_view", :style => "display:#{opt[flag]}"}
    %p.note{:id => "activity_strategy_#{activity_strategy.id}_note"}
      =split_long_strings(note_text)
    .control
      =image_tag ("icons/note_delete.gif")
      =link_to_remote "Delete", :url => {:action => 'destroy_strategy', :controller => :note, :activity_strategy_id => activity_strategy.id}, :confirm => "Delete this note?", :update => "activity_strategy_#{activity_strategy.id}_note", :complete => "cancel_note('activity_strategy_#{activity_strategy.id}'); document.getElementById('activity_strategy_#{activity_strategy.id}_note_fill_in').value = ''"
    .control
      =image_tag ("icons/note_edit.gif")
      =link_to_function "Edit", "edit_note('activity_strategy_#{activity_strategy.id}');"
  .new_note{:id => "activity_strategy_#{activity_strategy.id}_note_new", :style => "display:#{opt[1 - flag]}"}
    .control
      =image_tag ("icons/note_add.gif")
      =link_to_function "Add new note to myself", "new_note('activity_strategy_#{activity_strategy.id}');"
  .noteform{:id => "activity_strategy_#{activity_strategy.id}_note_form", :style => "display:none"}
    =text_area_tag "note", note_text, :id => "activity_strategy_#{activity_strategy.id}_note_fill_in"
    = link_to_remote "Save", :url => {:action => 'edit_strategy', :controller => :note, :activity_strategy_id => activity_strategy.id}, :with => "'note='+document.getElementById('activity_strategy_#{activity_strategy.id}_note_fill_in').value", :update => "activity_strategy_#{activity_strategy.id}_note", :complete => "edit_note('activity_strategy_#{activity_strategy.id}');"
    |
    =link_to_function "Cancel", "cancel_note('activity_strategy_#{activity_strategy.id}');"