-if question_compact[:dependency]
  -displayString = "none"
  -if @activity.send(question_compact[:dependency][0][0].to_sym)
    -if @activity.send(question_compact[:dependency][0][0].to_sym).to_s == question_compact[:dependency][0][1]
      -displayString = "block"

  %p.question.sub{:id => "#{question_compact[:id]}",  'data-dependencies' => Hash[question_compact[:dependents]].to_json, :style => "display:#{displayString};"}
    %label
      =question_compact[:label].capitalize
    %labelled
      -case question_compact[:input_type]
        -when :text
          = f.text_area question_compact[:id]
        -when :string
          = f.text_field question_compact[:id]
        -when :select
          = f.select "#{question_compact[:id]}", question_compact[:input_choices]
-else
  %p.question_compact{:id => "#{question_compact[:id]}", 'data-dependencies' => Hash[question_compact[:dependents]].to_json, :style => "display:block;"}
    %label
      =question_compact[:label].capitalize
    %labelled
      -case question_compact[:input_type]
        -when :text
          = f.text_area question_compact[:id]
        -when :string
          = f.text_field question_compact[:id]
        -when :select
          = f.select "#{question_compact[:id]}", question_compact[:input_choices]

