%h1#questions=h @activity.name + " - " + @equality_strand.titleize + " - Additional Work"
#questiontext
  %p Below is some feedback generated from your previous answers:
  %ul
    %li
      =h @activity.additional_work_text_lookup(@equality_strand, 1)
    %li
      =h @activity.additional_work_text_lookup(@equality_strand, 2)
    %li
      =h @activity.additional_work_text_lookup(@equality_strand, 3)
    %li
      =h @activity.additional_work_text_lookup(@equality_strand, 4)
    %li
      =h @activity.additional_work_text_lookup(@equality_strand, 5)
    %li
      =h @activity.additional_work_text_lookup(@equality_strand, 6)
#questions
  -form_for(:activity, :url => {:action => 'update'}) do |f| 
    = render :partial => 'question_help', :collection => question_details(:additional_work, @equality_strand, [1,2,3,4]), :locals => {:f => f}
    -unless @equality_strand == 'gender' then
      = render :partial => 'question_help', :collection => question_details(:additional_work, @equality_strand, [6]), :locals => {:f => f}
    -if @equality_strand=='disability' then   
      = render :partial => 'question_help', :collection => question_details(:additional_work, @equality_strand, [7,8,9]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:additional_work, @equality_strand, [1,2,3,4]), :locals => {:f => f}
    -unless @equality_strand == 'gender' then
      = render :partial => 'question', :collection => question_details(:additional_work, @equality_strand, [6]), :locals => {:f => f}
    -if @equality_strand=='disability' then   
      = render :partial => 'question', :collection => question_details(:additional_work, @equality_strand, [7,8,9]), :locals => {:f => f}
    = hidden_field_tag 'id', @id 
    = hidden_field_tag 'equality_strand', @equality_strand 
    %p.question
      %span.button
        = submit_tag 'Save', :disable_with => 'Saving...', :id => 'section_save_button'
  .clear
