%h1#questions
  =h @activity.name 
  <br />
  = link_to image_tag('icons/previous.gif', :class =>'previous'), { :action => 'edit', :id => 'additional_work', :equality_strand => @equality_strand }, :title =>"Previous Section"
  = @equality_strand.titleize + " - "
  Action Planning
  = image_tag('icons/no_next.gif', :class =>'next')

-hashes = @activity.hashes

#questions
  -form_for(:issues, :url => {:controller => 'issues', :action => 'update'}) do |f|
    -issues = @activity.issues.reject{|issue| issue.strand != @equality_strand }
    - if issues.size > 0
      -for issue in issues
        %h3
          =h issue.description
        -fields_for "issue[]", issue do |ff|
          %p
            %label Actions
            = ff.text_area :actions
          %p
            %label Resources
            = ff.text_area :resources
          %p
            %label Timescales
            = ff.text_area :timescales
          %p
            %label Lead Officer
            = ff.text_area :lead_officer
        .clear
    - else
      %p No issues to plan actions for.
    .clear
    = hidden_field_tag 'equality_strand', @equality_strand
    %p.question
      %span.button
        = submit_tag 'Save' 
  .clear