%h1#questions
  =h @activity.name  + " - Overall Purpose"
#questions
  -form_for(:activity, :url => {:action => 'update'}) do |f|
    = render :partial => 'question', :collection => question_details(:purpose, @equality_strand, [2,10,11,12]), :locals => {:f => f}
    %h4 Relevant Strands
    %p.question
      %label Please select the strands Relevant to this activity
      %labelled
        %span.checkStrand
          %label 
            Gender:
            =f.check_box (:gender_relevant)
        %span.checkStrand
          %label
            Sexual Orientation:
            =f.check_box (:sexual_orientation_relevant)
        %span.checkStrand
          %label
            Faith:
            =f.check_box (:faith_relevant)
        %span.checkStrand
          %label
            Disability:
            =f.check_box (:disability_relevant)    
        %span.checkStrand
          %label
            Age:
            =f.check_box (:age_relevant)    
        %span.checkStrand
          %label
            Race:
            =f.check_box (:race_relevant)  
    .more{:id => "more_purpose_overall_strategy", :style => "display:none"}
      %h3
        =image_tag ("icons/help.gif")
        Help:
      .help
        = @activity.hashes['header_help_text']['purpose_overall_1'][@activity.fun_pol_number][@activity.exist_prop_number].to_s
    %p.question{:id => "purpose_overall_strategy", :onclick => "setFocus(\'more_purpose_overall_strategy\',\'purpose_overall_strategy\');", :style => "display:block;"}
      %label
        =h @activity.header(:purpose_overall_1)
      %labelled
        -yes_no = @activity.hashes['choices'][3]
        -@activity_strategies.each do |activity_strategy|
          %span.strategy
            %label
              = activity_strategy.strategy.name
            = select('strategy_responses', activity_strategy.strategy_id, @activity.hashes['choices'][3], :selected => @activity.hashes['choices'][3][activity_strategy.strategy_response.to_i])
    %h4
      =h @activity.header(:purpose_overall_2)
    = render :partial => 'question', :collection => question_details(:purpose, @equality_strand, [5,6,7,8,9]), :locals => {:f => f}
    %h4
      =h @activity.header(:purpose_overall_3)
    = render :partial => 'question', :collection => question_details(:purpose, 'gender', [3]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'race', [3]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'disability', [3]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'faith', [3]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'sexual_orientation', [3]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'age', [3]), :locals => {:f => f}
    %h4
      =h @activity.header(:purpose_overall_4)
    = render :partial => 'question', :collection => question_details(:purpose, 'gender', [4]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'race', [4]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'disability', [4]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'faith', [4]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'sexual_orientation', [4]), :locals => {:f => f}
    = render :partial => 'question', :collection => question_details(:purpose, 'age', [4]), :locals => {:f => f}
    = hidden_field_tag 'id', @id 
    = hidden_field_tag 'equality_strand', @equality_strand
    %p.question
      %span.button
        = submit_tag 'Save' 
  .clear