-case @current_user.class.name
-when 'DirectorateManager'
  %h3
    = ot('directorate').titleize
    Control Page - Sections
  %p Click on one of the 5 assessment sections (below) to see how each Activity is progressing through the tool.
-when 'ProjectManager'
  %h3 
    = ot('project').titleize
    Control Page - Sections
  %p Click on one of the 5 assessment sections (below) to see how each Activity is progressing through the tool.
-when 'OrganisationManager'
  %h3 Organisation Control Page - Sections
  %p The Activities are listed by Directorate. Click on one of the 5 assessment sections (below) to see how each Activity is progressing through the tool.

#sections_menu
  #menuBar
    = sections_menu
%hr
%h3
  Section:
  = @section.titleize
%p This shows how far the Activity owners have completed this part of the assessment tool.  You can see more information, or provide them with further help, using the icons on the right of each entry.

-if @current_user.class.name == 'OrganisationManager' || @current_user.class.name == 'DirectorateManager'
  -@directorates.each do |directorate|
    -if @current_user.class.name == 'OrganisationManager'
      %h4
        =h directorate.name
    %table.list
      %tr
        %th.left Name
        %th Completed 
        %th Last Key Sent 
        %th
      -for activity in directorate.activities
        %tr
          %td.left{:style =>"width:300px;"}
            =h activity.name
          %td{:style =>"width:104px;"}
            = progress_bar(activity.percentage_answered(@section))
          %td 
            = date_or_blank(activity.activity_manager.reminded_on)
          %td.actions{:nowrap =>"nowrap"}
            = link_to image_tag('icons/view.gif'), {:action => 'show', :id => @section, :f => activity}, :id => 'view', :title =>"View" 
            = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"E-mail"
            = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => activity.activity_manager.id }, :confirm => "Send access key reminder to #{h activity.name}?", :method => :post, :title =>"Key"

-if @current_user.class.name == 'OrganisationManager' || @current_user.class.name == 'ProjectManager'
  -@projects.each do |project|
    -if @current_user.class.name == 'OrganisationManager'
      %h4
        =h project.name
    %table.list
      %tr
        %th.left Name
        %th Completed 
        %th Last Key Sent 
        %th
      -for activity in project.activities
        %tr
          %td.left{:style =>"width:300px;"}
            =h activity.name
          %td{:style =>"width:104px;"}
            = progress_bar(activity.percentage_answered(@section))
          %td 
            = date_or_blank(activity.activity_manager.reminded_on)
          %td.actions{:nowrap =>"nowrap"}
            = link_to image_tag('icons/view.gif'), {:action => 'show', :id => @section, :f => activity}, :id => 'view', :title =>"View" 
            = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"E-mail"
            = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => activity.activity_manager.id }, :confirm => "Send access key reminder to #{h activity.name}?", :method => :post, :title =>"Key"
