#help_questions
  #help_text_navigation
    %ul#help_text_sections
      %li
        =link_to_function "Purpose", "$('purpose').show(); $('impact').hide(); $('consultation').hide(); $('additional_work').hide();"
      %li
        =link_to_function "Impact", "$('purpose').hide(); $('impact').show(); $('consultation').hide(); $('additional_work').hide();"
      %li
        =link_to_function "Consultation", "$('purpose').hide(); $('impact').hide(); $('consultation').show(); $('additional_work').hide();"
      %li
        =link_to_function "Additional Work", "$('purpose').hide(); $('impact').hide(); $('consultation').hide(); $('additional_work').show();"
    %ul#help_text_strands
      %li
        =link_to_function "Gender", "showall('gender'); hideall('race'); hideall('disability'); hideall('faith'); hideall('sexual_orientation'); hideall('age'); hideall('overall');"
      %li
        =link_to_function "Race", "hideall('gender'); showall('race'); hideall('disability'); hideall('faith'); hideall('sexual_orientation'); hideall('age'); hideall('overall');"
      %li
        =link_to_function "Disability", "hideall('gender'); hideall('race'); showall('disability'); hideall('faith'); hideall('sexual_orientation'); hideall('age'); hideall('overall');"
      %li
        =link_to_function "Faith", "hideall('gender'); hideall('race'); hideall('disability'); showall('faith'); hideall('sexual_orientation'); hideall('age'); hideall('overall');"
      %li
        =link_to_function "Sexual Orientation", "hideall('gender'); hideall('race'); hideall('disability'); hideall('faith'); showall('sexual_orientation'); hideall('age'); hideall('overall');"
      %li
        =link_to_function "Age", "hideall('gender'); hideall('race'); hideall('disability'); hideall('faith'); hideall('sexual_orientation'); showall('age'); hideall('overall');"
      %li
        =link_to_function "Overall", "hideall('gender'); hideall('race'); hideall('disability'); hideall('faith'); hideall('sexual_orientation'); hideall('age'); showall('overall');"

  -form_for(:help_text, :url => {:controller => 'help_text', :action => 'update'}) do |f|
    -Activity.sections.each do |section|
      %span{:id =>"#{section.to_s}", :style =>"display:none;"}
        - unless @split_texts.select{|text_options| text_options[0][0].to_s == section.to_s}.blank? then
          .help_section{:id => "help_#{section}".to_s, :style => 'display:block'}
            - (Activity.strands + [:overall]).each do |strand|
              %span{:class =>"#{strand.to_s}", :style =>"display:none;"}
                - answers = ((strand.to_s == 'overall')? 'overall_questions' : 'questions')
                - unless @split_texts.select{|text_options| text_options[0][0] == section.to_s && text_options[0][1].to_s == strand.to_s}.blank? then
                  %h4
                    = section.to_s.titleize
                    \-
                    = strand.to_s.titleize
                  .help_strand{:id => "help_#{section}_#{strand}".to_s, :style => 'display:block'}
                    - @split_texts.select{|sel| sel[0][0].to_s == section.to_s && sel[0][1].to_s == strand.to_s}.sort.each do |sect_strands|
                      %ul
                        = render :partial => 'question', :collection => [sect_strands[1]], :locals => {:strand => strand.to_s, :section => section.to_s, :answers => answers, :number => sect_strands[0][2], :strands => @strands, :wordings => @wordings, :descriptive_term => @descriptive_term}
    %p.question
      %span.button
        = submit_tag 'Save', :disable_with => 'Saving...'