%h2= "#{@organisation.name.titleize} Projects"

#pdf_link{:style=>"width:auto;"}
  = image_tag('icons/lightbulb_add.png')
  = link_to 'New project', {:action => 'new', :controller => 'projects', :organisation_id => @organisation.id}
  %br

%table
  %tr
    %th.left Name
    %th Managers Email
    %th{:nowrap=>"nowrap"}Last Reminder
    %th
  - for project in @projects
    %tr
      %td.left{:nowrap=>"nowrap"}
        = project.name.to_s
      %td
        = link_to project.project_manager.email, "mailto:#{project.project_manager.email}?subject=#{project.name}", :title =>"Email" unless project.project_manager.nil?
      %td
        = date_or_blank(project.project_manager.reminded_on) if project.project_manager
      %td.actions{:nowrap=>"nowrap"}
        = link_to image_tag('icons/login.gif'), project.project_manager.url_for_login(request) , :title =>"Login" if project.project_manager
        = link_to image_tag('icons/eye.gif'), organisation_project_url(@organisation, project), :title =>"View"
        = link_to image_tag('icons/remind.gif'), { :controller => 'users', :action => 'remind', :id => project.project_manager}, :confirm => "Send reminder for #{project.name} to #{project.project_manager.email}?", :method => :post, :title =>"Remind" if project.project_manager
        = link_to image_tag('icons/edit.gif'), edit_organisation_project_url(@organisation, project), :title =>"Edit"
        = link_to image_tag('icons/delete.gif'), organisation_project_url(@organisation, project), :method => :delete, :confirm => "Delete #{project.name}?", :title =>"Delete"

.clear
%span.button
  = link_to 'Back', organisations_url