.issueForm
  = semantic_form_for [:activities, @issue] do |form|
    = hidden_field_tag :activity, @activity.id
    = form.inputs :id => "standardInputs" do
      = form.input :description, :label => "Short description of the issue", :as => :string
      =form.input  :actions, :label => "Summary actions to address the issues",  :wrapper_html =>{:class => "question"}, :input_html => {:class => "issueAction"}
      =form.input  :resources, :label => "Resources necessary to implement the actions", :wrapper_html =>{:class => "question"}
      = form.input :timescales, :label => "Timescales for commencing and completing the actions", :wrapper_html =>{:class => "question"}, :as => :datepicker, :format => "%d/%m/%Y"
      = form.autocompleted_input :lead_officer_email, :url => autocomplete_user_email_activities_path, :label => "Lead Officer", :required => false
      = form.input :recommendations, :label => "How will the recommendations of this assessment be built in to wider planning and review processes?", :wrapper_html =>{:class => "question"}
      = form.input :monitoring, :label => "How will you monitor the impact and effectiveness of the new policy or function?", :wrapper_html =>{:class => "question"}
      = form.input :outcomes, :label => "What are, or have been, the outcomes resulting from this Equality Analysis?", :wrapper_html =>{:class => "question"}
      = form.hidden_field :strand
    = form.buttons do
      = form.submit "Save", :disable_with => 'Saving...'
      %span.cancelLink
        or
        - if @equality_strand
          = link_to "cancel", edit_activities_section_path(@activity, :equality_strand => @equality_strand, :section => "action_planning")
        - else
          = link_to "cancel", activities_path
/ #formHelp
/   %p
/     %strong Description:
/     Please provide a short description of the issue, suitable for a title
/   %p
/     %strong Actions:
/     Please enter a description of what actions you intend to take about this issue, and what steps should be taken to address it.
/   %p
/     %strong Resources: 
/     Describe all the resources necessary to implement the actions described previously.
/   %p
/     %strong Timescales:
/     This is the date that you expect to have accomplished the actions by.
/   %p
/     %strong Lead Officer:
/     This is the Lead Officer in charge of ensuring the action is carried out successfully. This field will autocomplete from the available users. If the user you wish to add does not appear in the prepopulated list, please contact Service Birmingham.
/   %p
/     %strong Recommendations:
/     This is the Task Group Manager for the EA. This field will autocomplete from the available users. If the user you wish to add does not appear in the prepopulated list, please contact Service Birmingham.
/   %p
/     %strong Monitoring:
/     This is the Quality Control Officer for the EA. This field will autocomplete from the available users. If the user you wish to add does not appear in the prepopulated list, please contact Service Birmingham.
/   %p
/     %strong Outcomes:
/     Is this EA about a function to be executed, or is it about a policy to be enacted?.