%h2 Forgot your password?

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  -unless resource.errors[:email].blank?
    #flashBox
      = content_tag(:div, "Email not found", :id => "flash_error")
  %p= f.label :email
  %br
  %p= f.text_field :email
  %p= f.submit "Reset", :class=> "submitButton"

#loginHelp
  %ul
    %li Please enter your email address and press Reset.
    %li On resetting your password, a link will be emailed to you which will reset your password.