.strategy
  -fields_for "#{string_parent}[#{string_type}_attributes][]", strategy do |strategy_form|
    %label
      Name
    %labelled
      = strategy_form.text_field :name, :index => nil
    %label
      Description
    %labelled
      = strategy_form.text_area :description, :index => nil
    - if strategy.new_record? then
      = link_to_function image_tag('icons/cross.gif'), "this.up( '.strategy').remove()"
    - else
      = link_to_function image_tag('icons/cross.gif'), "mark_for_strategy_destroy(this)"
      = strategy_form.hidden_field :id, :index => nil
      = strategy_form.hidden_field :should_destroy, :index => nil, :class => 'should_destroy'