= semantic_form_for @activity do |form|
  = form.inputs :id => "standardInputs" do
    - if @clone_of
      = hidden_field_tag "clone_of", @clone_of.id
    #service_areas_path_div{ :data => { :path => get_service_areas_activities_path } }
    =form.input :directorate, :label => "Directorate", :collection => @directorates, :label_method => :name, :value_method => :id, :selected => @activity.directorate ? @activity.directorate.id : nil
    %li.select.optional
      .service_area
        = render :partial => 'service_area_select', locals: {form: form}
    =form.input :name, :label => "EA Title"
    = form.input :summary, :label => "Summary of this EA"
    = form.input :review_on, :label => "Review Date", as: :string, :format => "%d/%m/%Y", :input_html => {class: "ui-datepicker", style: "display:block", value: @activity.review_on.try(:strftime, '%d/%m/%Y') }
    =form.input :approver_email, as: :autocomplete, :url => autocomplete_user_email_activities_path, :label => "Senior Officer", :required => false
    =form.input :completer_email, as: :autocomplete, :url => autocomplete_user_email_activities_path, :label => "Task Group Manager", :required => false
    =form.input :qc_officer_email, as: :autocomplete, :url => autocomplete_user_email_activities_path, :label => "Quality Control Officer", :required => false
    =form.input :activity_type, :as => :select, :collection => @activity.types.collect {|option| [option.titlecase , @activity.types.index(option)] }, :label => "Type", :include_blank => false
    =form.input :activity_status, :as => :select, :collection =>  @activity.statuses.collect{|option| [option.titlecase , @activity.statuses.index(option)] }, :label => "Status", :include_blank => false
  = form.actions do
    - if @activity.persisted?
      = form.submit "Save", :disable_with => 'Saving...'
    -else
      = form.submit "Create", :disable_with => 'Saving...'
    %span.cancelLink
      - if @current_user.creator?
        =raw "or #{link_to "cancel", directorate_eas_activities_path}"
      - else
        =raw "or #{link_to "cancel", my_eas_activities_path}"
#formHelp
  %p
    %strong EA Title:
    This is the name of the EA.
    %br
    Tip: There may be several EAs for a project as it is developed and goes through governance gateways. A naming protocol may be useful.
  %p
    %strong Summary:
    Please enter a brief summary of the EA and what it evaluates here.
  %p
    %strong Review Date:
    Enter the date that the EA will undergo another review.
    %br
    Tip:  You may wish to undertake a review several months after implementation to establish if there has been any unforeseen impact.
  %p
    %strong Senior Officer:
    This is the Senior Officer for the EA. This should be a GR7 or JNC officer. Type in the email address and select the name from the available users. If the user does not appear in the prepopulated list, please complete a SLAM to Service Birmingham to arrange access.
  %p
    %strong Task Group Manager:
    This is the Task Group Manager who completes the EA. Type in your email address and select your name from the available users.
    %br
    Tip: You can reallocate the TGM to another person by changing the name here.
  %p
    %strong Quality Control Officer:
    This is the Quality Control Officer for the EA.  Type in the email address and select the name from the available users. If the user does not appear in the prepopulated list, please complete a SLAM to Service Birmingham to arrange access.
    %br
    Tip: Some Directorates have a generic email for Quality Control
  %p
    %strong Type:
    A Function is, for example, a project, initiative or programme.  A Policy is a written policy to be enacted.
  %p
    %strong Status:
    This should be whether this EA is regarding something that is yet to be enacted, whether it is a scheduled review of the EA, or whether it is an amendment of a previous EA.
    %br
    Tip: Use naming protocols or version control for naming reviews or amendments to an existing EA
