= semantic_form_for @activity do |form|
  = form.inputs :id => "standardInputs" do
    =form.input :service_area, :label => "Service Area", :collection => @service_areas, :include_blank => false
    =form.input :name, :label => "Title"
    =form.input :start_date, :label => "Target Start Date", :as => :datepicker
    =form.input :end_date, :label => "Target End Date", :as => :datepicker
    = form.input :review_on, :label => "Review Date", :as => :datepicker, :format => :short_ordinal
    =form.autocompleted_input :approver_email, :url => autocomplete_user_email_activities_path, :label => "Senior Officer"
    =form.autocompleted_input :completer_email, :url => autocomplete_user_email_activities_path, :label => "Task Group Manager"
    =form.input :activity_type, :as => :select, :collection => @activity.types.collect {|option| [option.titlecase , @activity.types.index(option)] }, :label => "Type", :include_blank => false
    =form.input :activity_status, :as => :select, :collection =>  @activity.statuses.collect{|option| [option.titlecase , @activity.statuses.index(option)] }, :label => "Status", :include_blank => false
  = form.inputs :id => "readyInput", :style => "#{'display:none' unless @activity.fields_complete}" do
    = form.input :ready, :label => "Send to Task Group Manager", :style => "display:none"
  = form.buttons do
    = form.submit "Save"
    =raw "or #{link_to "cancel", directorates_path}"
#formHelp
  %p
    %strong Title:
    lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat.
  %p
    %strong Target Start/End Dates: 
    lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat, libero ut sollicitudin ultrices, mi lorem consectetur metus, at tempus elit sem quis nulla. Proin ut magna diam. Morbi ullamcorper placerat ultricies.
  %p
    %strong Senior Officer:
    lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat - this field will autocomplete from the available users.
  %p
    %strong Completer:
    lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat - this field will autocomplete from the available users.
  %p
    %strong Type:
    lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat.
  %p
    %strong Status:
    lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat.
