#activity_approver_form
  - email_for_box = (@activity.activity_approver.nil? ? wrong_email : @activity.activity_approver.email.to_s)
  %label
    %strong Activity Approver:
  - form_tag(:html => {:id => 'approver_form'}, :url => {update_approver_activities_path}, :update => 'activity_approver_form', :remote => true) do
    #update_approver{:style => errors.nil? ? "display:none;" : 'display:block'}   
      .approver_update
        -if errors.nil?
          = text_field_tag 'activity_approver', "#{email_for_box}"
        -else
          .fieldWithErrors
            = text_field_tag 'activity_approver', "#{email_for_box}"
        #approver_update_save{:style => 'display:block'}
          = link_to_function 'save changes',"$('approver_update_save').hide(); $('approver_update_saving').show(); $('approver_form').onsubmit()"
          %span.left_float="|"
          = link_to_function "cancel","$('activity_approver').value='#{email_for_box}';$('update_approver').toggle();$('show_approver').toggle()"
          %span.error_labelled= "(#{errors})" if errors
        #approver_update_saving{:style => 'display:none'}
          %span.simulate_left_link saving...  
    #show_approver{:style => errors.nil? ? "display:block;" : 'display:none'}       
      %span.labelled
        #activity_approver_display
          = @activity.activity_approver.nil? ? '-' : @activity.activity_approver.email.to_s
      .approver_update
        = link_to_function "(edit)","$('update_approver').toggle();$('show_approver').toggle()",:class=>"edit_approver", :id=>"edit_approver"
      .clear
.clear
