%tr
  %td.label
    = label
  %td.labelled
    =h answer
    - if comment = question.comment then
      = image_tag('icons/comment.gif', :id => comment.html_id)
      %script{:type=>"text/javascript"}
        = "new Tip('#{comment.html_id}', '#{comment.contents}');"