#show_directorates{:style=>"display:block;"}
  -@directorates.each do |directorate|
    %h4
      =h directorate.name.titleize
      = ot('directorate').titleize
    -@approved = directorate.activities.find_all_by_approved("approved", :include => [:activity_approver, :activity_manager])
    -if @approved.size > 0
      %table.list
        %tr
          %th.left{:style => "width:220px;", :rowspan =>"2"} Name
          %th{:rowspan =>"2", :align=>"center", :style => "width:80px;"} Priority
          %th{:rowspan =>"2", :align=>"center", :style => "width:80px;"} Impact
          %th{:colspan =>"2", :align=>"center", :style => "width:160px;"} Activity
          %th{:colspan =>"2", :align=>"center", :style => "width:160px;"} Report
        %tr
          %th{:align=>"center", :style => "width:80px;"} Manager
          %th{:align=>"center", :style => "width:80px;"} Approver
          %th{:align => "center", :style => "width: 80px"} Private
          %th{:align => "center", :style => "width: 80px"} Public
        -@approved.each do |activity|
          %tr
            %td.left{:style => "width:250px;"}
              =h activity.name
            %td
              = priority_tag(activity)            
            %td
              = impact_tag(activity)
            %td.actions{:nowrap => "nowrap"}
              = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"Email Manager"
            %td.actions{:nowrap => "nowrap"}
              = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_approver.email}", :title =>"Email Approver"
            %td.actions
              = link_to image_tag('icons/pdf_lock.gif'), {:action => 'view_pdf', :id => activity.id, :type => :private}, :title => "View private activity report", :confirm => 'Please note: you are about to download a private document intended for internal-use only.'
            %td.actions
              = link_to image_tag('icons/pdf.gif'), {:action => 'view_pdf', :id => activity.id, :type => :public}, :title => "View public activity report"
    -else 
      %p.no_info
        No Activities Approved.
