-if @groups
  -@groups.each do |group|
    -@approved = group.activities.find_all_by_approved("submitted", :include => :activity_approver)
    -if @approved.size > 0
      %table.list
        %tr
          %th.left{:style => "width:400px;", :rowspan =>"2"} Name
          %th{:colspan =>"2", :nowrap => "nowrap", :style => "width:200px", :align=>"center"} Activity Approver
        %tr
          %th{:align=>"center", :style => "width:100px;"} Last Key Sent
          %th{:align=>"center", :style => "width:100px;"} Actions
        -@approved.each do |activity|
          - approver = activity.activity_approver
          %tr
            %td.left{:style => "width:150px;"}
              =h activity.name
            %td
              = date_or_blank(approver.reminded_on)
            %td.actions{:nowrap => "nowrap"}
              = link_to image_tag('icons/email.gif'), "mailto:#{h approver.email}", :title =>"Email"
              = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => approver.id }, :confirm => "Send access key reminder to #{h activity.name} to #{h approver.email}?", :method => :post, :title =>"Key"
    -else 
      %p.no_info
        No Activities Awaiting Approval.