#show_directorates{:style=>"display:block;"}
  %p It also lets you as Organisation Manager, manage the complete activity by adding, deleting and editing activities.
  -@directorates.each do |directorate|
    - directorate_manager = directorate.directorate_manager
    %h4
      =h directorate.name.titleize
      = ot('directorate').titleize
      %span.h4_link
        - unless directorate_manager.nil?
          = link_to image_tag('icons/email.gif'), "mailto:#{directorate_manager.email}", :title =>"Email"
          = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => directorate_manager.id }, :confirm => "Send access key reminder to #{directorate.name} to #{directorate_manager.email}?", :method => :post, :title =>"Key"
        = link_to "#{image_tag('icons/add.gif')} Add New Activity", :action => 'new', :directorate => directorate
    -@approved = directorate.activities.find_all_by_approved("not submitted", :include => :activity_manager)
    -if @approved.size > 0
      %table.list
        %tr
          %th.left{:style => "width:300px;", :rowspan =>"2"} Name
          %th{:rowspan =>"2", :align=>"center", :style => "width:110px;"} Completed
          %th{:colspan =>"2", :nowrap => "nowrap", :style => "width:200px", :align=>"center"} Activity Manager
          %th{:rowspan =>"2"}
        %tr
          %th{:align=>"center", :style => "width:100px;"} Last&nbsp;key sent
          %th{:align=>"center", :style => "width:100px;"} Actions
        -@approved.each do |activity|
          - manager = activity.activity_manager
          %tr
            %td.left{:style => "width:300px;"}
              =h activity.name
            %td
              = progress_bar(activity.percentage_answered)
            %td{:style => "width:100px;"}
              = date_or_blank(manager.reminded_on)
            %td.actions{:nowrap => "nowrap"}
              = link_to image_tag('icons/email.gif'), "mailto:#{h manager.email}", :title =>"Email"
              = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => manager.id }, :confirm => "Send access key reminder to #{h activity.name} to #{h manager.email}?", :method => :post, :title =>"Key"
            %td.actions
              = link_to image_tag('icons/view.gif'), {:controller => 'activities', :action => 'view', :id => activity.id}, :title =>"View"
              = link_to image_tag('icons/edit.gif'), { :action => 'edit_contact', :id => activity.id }, :id => 'amend', :title =>"Amend"
              = link_to image_tag('icons/delete.gif'), { :action => 'destroy', :id => activity.id }, :confirm => "Delete #{h activity.name}?", :method => :post, :title =>"Delete"
    -else 
      %p.no_info
        No Activities Started.  
