- if groups
  - groups.each do |group|
    - @approved = group.activities.find_all_by_approved("not submitted", :order => 'name')
    - unless @approved.empty?
      .sort_by_name{:style =>"display:block;"}
        %table.list
          %tr
            %th.left{:style => "width:350px;", :rowspan =>"2"} Name
            %th{:rowspan =>"2"} Completed
            %th{:colspan =>"2"} Activity Manager
          %tr
            %th Last key sent
            %th Actions
          -@approved.each do |activity|
            %tr
              %td.left{:style => "width:150px;"}
                =h activity.name
              %td
                = progress_bar(activity.percentage_answered)
              %td
                = date_or_blank(activity.activity_manager.reminded_on)
              %td.actions{:nowrap => "nowrap"}
                = link_to image_tag('icons/eye.gif'), {:controller => 'activities', :action => 'view', :id => activity.id}
                = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"Email"
                = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => activity.activity_manager.id }, :confirm => "Send access key reminder to #{h activity.name} to #{h activity.activity_manager.email}?", :method => :post, :title =>"Key"
    -else 
      %p.no_info
        No Activities Unapproved.
        
-if @current_user.role == 'OrganisationManager'
  #show_directorates{:style=>"display:block;"}
    %p It also lets you as Organisation Manager, manage the complete activity by adding, deleting and editing activities.
    -@directorates.each do |directorate|
      %h4
        =h directorate.name.titleize
        = ot('directorate').titleize
        %span.h4_link
          = link_to image_tag('icons/email.gif'), "mailto:#{User.find_by_directorate_id(directorate.id).email}", :title =>"Email"  unless directorate.directorate_manager.nil?
          = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => directorate.directorate_manager.id }, :confirm => "Send access key reminder to #{directorate.name} to #{User.find_by_directorate_id(directorate.id).email}?", :method => :post, :title =>"Key" unless directorate.directorate_manager.nil?
          = link_to "#{image_tag('icons/add.gif')} Add New Activity", :action => 'new', :directorate => directorate
      -@approved = directorate.activities.find_all_by_approved("not submitted")
      -if @approved.size > 0
        %table.list
          %tr
            %th.left{:style => "width:250px;", :rowspan =>"2"} Name
            %th{:rowspan =>"2"} Completed
            %th{:colspan =>"2"} Activity Manager
            %th{:rowspan =>"2"}
          %tr
            %th Last&nbsp;key sent
            %th Actions
          -@approved.each do |activity|
            %tr
              %td.left{:style => "width:150px;"}
                =h activity.name
              %td
                = progress_bar(activity.percentage_answered)
              %td
                = date_or_blank(activity.activity_manager.reminded_on)
              %td.actions{:nowrap => "nowrap"}
                = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"Email"
                = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => activity.activity_manager.id }, :confirm => "Send access key reminder to #{h activity.name} to #{h activity.activity_manager.email}?", :method => :post, :title =>"Key"
              %td.actions
                = link_to image_tag('icons/eye.gif'), {:controller => 'activities', :action => 'view', :id => activity.id}
                = link_to image_tag('icons/edit.gif'), { :action => 'edit_contact', :id => activity.id }, :id => 'amend', :title =>"Amend"
                = link_to image_tag('icons/delete.gif'), { :action => 'destroy', :id => activity.id }, :confirm => "Delete #{h activity.name}?", :method => :post, :title =>"Delete"
      -else 
        %p.no_info
          No Activities Unapproved.  

  #show_projects{:style=>"display:none;"}
    %p It also lets you as Organisation Manager, manage the complete activity by adding, deleting and editing activities.
    -@projects.each do |project|      
      %h4
        =h project.name.titleize
        = ot('project').titleize
        %span.h4_link
          = link_to image_tag('icons/email.gif'), "mailto:#{User.find_by_project_id(project.id).email}", :title =>"Email"  unless project.project_manager.nil?
          = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => project.project_manager.id }, :confirm => "Send access key reminder to #{project.name} to #{User.find_by_project_id(project.id).email}?", :method => :post, :title =>"Key" unless project.project_manager.nil?
      -@approved = project.activities.find_all_by_approved("not submitted")
      -if @approved.size > 0
        %table.list
          %tr
            %th.left{:style => "width:250px;", :rowspan =>"2"} Name
            %th{:rowspan =>"2"} Completed
            %th{:colspan =>"2"} Activity Manager
            %th{:rowspan =>"2"}
          %tr
            %th Last&nbsp;key sent
            %th Actions
          -@approved.each do |activity|
            %tr
              %td.left{:style => "width:150px;"}
                =h activity.name
              %td
                = progress_bar(activity.percentage_answered)
              %td
                = date_or_blank(activity.activity_manager.reminded_on)
              %td.actions{:nowrap => "nowrap"}
                = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"Email"
                = link_to image_tag('icons/key.gif'), { :controller => 'users', :action => 'remind', :id => activity.activity_manager.id }, :confirm => "Send access key reminder to #{h activity.name} to #{h activity.activity_manager.email}?", :method => :post, :title =>"Key"
              %td.actions
                = link_to image_tag('icons/eye.gif'), {:controller => 'activities', :action => 'view', :id => activity.id}
                = link_to image_tag('icons/edit.gif'), { :action => 'edit_contact', :id => activity.id }, :id => 'amend', :title =>"Amend"
                = link_to image_tag('icons/delete.gif'), { :action => 'destroy', :id => activity.id }, :confirm => "Delete #{h activity.name}?", :method => :post, :title =>"Delete"
      -else 
        %p.no_info
          No Activities Unapproved.
