#summaryBox
  %h2= @activity.name
  %h3 EA Summary
  %p
    = @activity.summary
  %h3 EA Details
  %ul
    %li
      %label Directorate :
      = @activity.directorate.name
    %li 
      %label Service Area :
      = @activity.service_area.name
    %li
      %label Task Group Leader
      = @activity.completer.email
    %li
      %label Senior Officer
      = @activity.approver.email
    %li
      %label Quality Control Officer
      = @activity.qc_officer.email
    %li
      %label Progress
      = @activity.full_progress
  %h3 Relevant Protected Characteristics
  %ul
    - @activity.overview_strands.each do |strand_name, strand|
      %li.checkbox
        %label= strand_display(strand).titlecase
        = check_box_tag("#{strand}_checkbox", strand, @activity.strands.include?(strand), :disabled =>true)