.approverForm
  %h2= "Please enter the Task Group Member you wish to add to #{@activity.name}"
  = semantic_form_for @activity, :remote => true, :url => create_task_group_member_activity_path(@activity), :html => {:class => "lightboxForm", :method => :POST} do |form|
    = form.inputs :id => "standardInputs" do
      =form.input :task_group_member, :url => autocomplete_user_email_activities_path, as: :autocomplete
    = form.actions do
      = form.submit "Save", :disable_with => 'Saving...'
      =raw "or #{link_to "cancel", '#', :class => "cancelLink"}"
