- if @current_user.role == 'OrganisationManager'
  #view_activities_by
    View activities by: 
    =link_to_function (ot('directorate').titleize.pluralize, "$('show_directorates').show(); $('show_projects').hide()")
    |
    =link_to_function (ot('project').titleize.pluralize, "$('show_projects').show(); $('show_directorates').hide()")

%h3
  - case @current_user.role
  - when 'DirectorateManager'
    = @current_user.directorate.name.titleize
  - when 'ProjectManager'
    = @current_user.project.name.titleize
  = @current_user.level.titleize
  Control Page - Approved Activities

%p The tables show all approved activities.

-if @current_user.class.to_s == 'OrganisationManager'
  %p
    %strong
      = "No #{ot 'directorate'}s created." if @directorates.empty?

-case @current_user.class.to_s
  -when 'DirectorateManager'
    -@groups = @directorates
  -when 'ProjectManager'
    -@groups = @projects

-if @groups
  -@groups.each do |group|
    -@approved = group.activities.find_all_by_approved("approved")
    -if @approved.size > 0
      %table.list
        %tr
          %th.left{:style => "width:250px;", :rowspan =>"2"} Name
          %th{:rowspan =>"2"} Priority
          %th{:rowspan =>"2"} Impact
          %th{:colspan =>"2"} Activity
          %th{:rowspan =>"2"} Report
        %tr
          %th Manager
          %th Approver
        -@approved.each do |activity|
          %tr
            %td.left{:style => "width:250px;"}
              =h activity.name
            %td
              = priority_tag(activity)            
            %td
              = impact_tag(activity)
            %td.actions{:nowrap => "nowrap"}
              = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"Email Manager"
            %td.actions{:nowrap => "nowrap"}
              = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_approver.email}", :title =>"Email Approver"
            %td.actions{:style => "width:1%"}
              = link_to image_tag('icons/pdf.gif'), {:action => 'view_pdf', :id => activity.id}, :title => "View activity report"
    -else 
      %p.no_info
        No Activities Approved.
            
-if @current_user.class.to_s == 'OrganisationManager'
  #show_directorates{:style=>"display:block;"}
    -@directorates.each do |directorate|
      %h4
        =h directorate.name.titleize
        = ot('directorate').titleize
      -@approved = directorate.activities.find_all_by_approved("approved")
      -if @approved.size > 0
        %table.list
          %tr
            %th.left{:style => "width:250px;", :rowspan =>"2"} Name
            %th{:rowspan =>"2"} Priority
            %th{:rowspan =>"2"} Impact
            %th{:colspan =>"2"} Activity
            %th{:rowspan =>"2"} Report
          %tr
            %th Manager
            %th Approver
          -@approved.each do |activity|
            %tr
              %td.left{:style => "width:250px;"}
                =h activity.name
              %td
                = priority_tag(activity)            
              %td
                = impact_tag(activity)
              %td.actions{:nowrap => "nowrap"}
                = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"Email Manager"
              %td.actions{:nowrap => "nowrap"}
                = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_approver.email}", :title =>"Email Approver"
              %td.actions{:style => "width:1%"}
                = link_to image_tag('icons/pdf.gif'), {:action => 'view_pdf', :id => activity.id}, :title => "View activity report"
      -else 
        %p.no_info
          No Activities Approved.
                  
  #show_projects{:style=>"display:none;"}
    -@projects.each do |project|      
      %h4
        =h project.name.titleize
        = ot('project').titleize
      -@approved = project.activities.find_all_by_approved("approved")
      -if @approved.size > 0
        %table.list
          %tr
            %th.left{:style => "width:250px;", :rowspan =>"2"} Name
            %th{:rowspan =>"2"} Priority
            %th{:rowspan =>"2"} Impact
            %th{:colspan =>"2"} Activity
            %th{:rowspan =>"2"} Report
          %tr
            %th Manager
            %th Approver
          -@approved.each do |activity|
            %tr
              %td.left{:style => "width:250px;"}
                =h activity.name
              %td
                = priority_tag(activity)            
              %td
                = impact_tag(activity)
              %td.actions{:nowrap => "nowrap"}
                = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_manager.email}", :title =>"Email Manager"
              %td.actions{:nowrap => "nowrap"}
                = link_to image_tag('icons/email.gif'), "mailto:#{h activity.activity_approver.email}", :title =>"Email Approver"
              %td.actions{:style => "width:1%"}
                = link_to image_tag('icons/pdf.gif'), {:action => 'view_pdf', :id => activity.id}, :title => "View activity report"
      -else 
        %p.no_info
          No Activities Approved.
