%h2 EINAs Awaiting Approval
%table#sortable.searchable{:cellspacing=>"0", :cellpadding=>"0"}
  %tr
    %th Service Area
    %th Activity Name
    %th Ref no.
    %th Approver
    %th Date Started
    %th Actual Completion
    %th Progress
    %th.last
  %tr
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
      =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
    %th.sortControls.last
  - @activities.each do |activity|
    %tr{:class => cycle("light", "dark")}
      %td= activity.service_area.name
      %td= activity.name
      %td= activity.ref_no
      %td= activity.approver.email
      %td= activity.started ? activity.actual_start_date.to_s(:short) : "N/A"
      %td= activity.approved ? activity.approved_on.to_s(:short) : "N/A"
      %td= activity.progress
      %td.last
        = link_to "view", activity_path(activity), :class => "action view"
        - if activity.submitted && !activity.approved
          = link_to "approve", '#', "data-path" => approve_activity_path(activity), :class => "action approve colorbox"
          = link_to "reject", '#', "data-path" => reject_activity_path(activity), :class => "action reject colorbox"
      