%h2 EAs for Task Group Member
.searchBox
  = form_tag '#', :id => 'searchForm' do
    %label Search for:
    = text_field_tag 'search_term', '', :class => 'textField'
    = submit_tag 'Search', :class => 'submitButton'
    %p Search will return all records with Service Area, Name, Ref No or Senior Officer matching the search text.

%table#sortable.searchable{:cellspacing=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th Service Area
      %th EA Title
      %th Ref no.
      %th.email Senior Officer
      %th.date Date Started
      %th.date Actual Completion
      %th Progress
      %th Actions
      %th.last
    %tr
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %td.last.sortControls
  %tbody
    - @activities.each do |activity|
      - updated = activity.activity_and_questions_updated_between(current_user.last_sign_in_at, current_user.current_sign_in_at) ? "recentlyChanged" : ""
      %tr{:class => cycle("light #{updated}", "dark #{updated}")}
        %td= activity.service_area.name
        %td= activity.name
        %td= activity.ref_no
        %td= activity.approver.email
        %td.center= activity.started && activity.actual_start_date ? activity.actual_start_date.strftime('%d/%m/%y') : "N/A"
        %td.center= activity.approved && activity.approved_on ? activity.approved_on.strftime('%d/%m/%y') : "N/A"
        %td= activity.progress
        %td= activity.relevant_action_count
        %td.last
          = link_to "comment", '#', data: { path: task_group_comment_box_activity_path(activity) }, :class => "action comment colorbox"
          = link_to "view", activity_path(activity), :class => "action view"
          - if activity.approved? && ( activity.completer == current_user || current_user.directorates.include?( activity.directorate ) )
            = link_to "complete", questions_activity_path(activity), :class => "action edit" unless activity.submitted

