%h2 Assisting EA's
%table#sortable{:cellspacing=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th Service Area
      %th Activity Name
      %th Ref no.
      %th Senior Officer
      %th.date Date Started
      %th.date Actual Completion
      %th Progress
      %th Actions
      %th.last
    %tr
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %td.last.sortControls
  %tbody
    - @activities.each do |activity|
      %tr{:class => cycle("light", "dark")}
        %td= activity.service_area.name
        %td= activity.name
        %td= activity.ref_no
        %td= activity.approver.email
        %td.center= activity.started && activity.actual_start_date ? activity.actual_start_date.to_s(:short) : "N/A"
        %td.center= activity.approved && activity.approved_on ? activity.approved_on.to_s(:short) : "N/A"
        %td= activity.progress
        %td= activity.issues.count
        %td.last
          = link_to "comment", task_group_comment_box_activity_path(activity), :class => "action comment colorbox"
          = link_to "view", activity_path(activity), :class => "action view"

