.approverForm
  %h2= "Please give any comments to the Task Group Manager and the Senior Officer of #{@activity.name}" 
  = form_tag submit_comment_activity_path, :class => "formtastic user" do
    %fieldset.approveInputs
      %ul
        %li 
          %h5 To:
        %li.textField= text_field_tag :to, @activity.approver.email, :disabled => true
        %li
          %h5 CC:
        %li.textField= text_field_tag :cc, (@activity.associated_users - [@activity.approver]).uniq.map(&:email).join(", "), :disabled => true
        %li
          %h5 Subject:
        %li.textField= text_field_tag :subject, "EA #{@activity.name} Reference ID #{@activity.ref_no} has undergone quality control"
        %li
          %h5 Body:
        %li
          = text_area_tag :email_contents, "I have reviewed this EA as part of a quality control process and I am now passing it to yourself for review and approval."
    %fieldset.buttons
      %ol
        %li.commit
          = submit_tag "Comment", :disable_with => "Commenting.."
