.searchBox
  %label Search for:
  %input{:type=>"text"}
  %input{:type=>"submit", :value=>"Search"}
.orangeButton
  =link_to "Generate Schedule", "#", :class=>"cal"
.orangeButton
  =link_to "Add Eina", new_activity_path, :class=>"add"
%table
  %tr
    %th Service Area
    %th Activity Name
    %th Ref no.
    %th Approver
    %th Date Started
    %th Actual Completion
    %th Progress
    %th 
    %th
  - @activities.each do |activity|
    %tr{:class => cycle("light", "dark")}
      %td
      %td= activity.name
      %td= activity.ref_no
      %td= activity.approver.email
      %td= #activity.started_date
      %td
      %td= activity.progress
      / %td= link_to "edit", edit_activity_path(activity), :class => "action edit"
      %td= link_to "view", activity_path(activity), :class => "action edit", :target => "blank"