%h2 EA Governance
- if @activities.empty?
  .clear
  %p There are no EAs yet for any directorates you are the Directorate Goverance Officer for.
-else
  .orangeButton
    =link_to "Generate Schedule", generate_schedule_activities_path, :class=>"add schedule", :target => "_blank", "data-root-path" => generate_schedule_activities_path
  .clear
  .searchBox
    = form_tag '#', :id => 'searchForm', :class => "directorateSearch" do
      %label Search for:
      = text_field_tag 'search_term', '', :class => 'textField'
      = submit_tag 'Search', :class => 'submitButton'
      %p Search will return all records with a directorate name matching the search text.

  %table#sortable.searchable{:cellspacing=>"0", :cellpadding=>"0"}
    %thead
      %tr
        %th Directorate
        %th Service Area
        %th EA Name
        %th Ref no.
        %th.email Senior Officer
        %th.date.center Date Started
        %th.date.center Actual Completion
        %th.center Progress
        %th Actions
        %th.last
      %tr
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
          =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
        %th.sortControls.last
    %tbody
      - @activities.each do |activity|
        - updated = activity.activity_and_questions_updated_between(current_user.last_sign_in_at, current_user.current_sign_in_at) ? "recentlyChanged" : ""
        %tr{:class => cycle("light #{updated}", "dark #{updated}"), "data-activity-id" => "#{activity.id}"}
          %td= activity.service_area.directorate.name
          %td= activity.service_area.name
          %td= activity.name
          %td= activity.ref_no
          %td= activity.approver.email
          %td.center= activity.started && activity.actual_start_date ? activity.actual_start_date.to_s(:short) : "N/A"
          %td.center= activity.approved && activity.approved_on ? activity.approved_on.to_s(:short) : "N/A"
          %td.center= activity.progress
          %td= activity.relevant_action_count
          - if activity.ready?
            %td.last
              = link_to "view", activity_path(activity), :class => "action view"
              = link_to "summary", summary_activity_path(activity), :class => "action summary activitySummary"
              = link_to "actions", activities_issues_path(:activity => activity.id), :class => "action actions"