%h2 Directorate EAs
- unless @directorates > 0
  .clear
  %p You are not the Directorate Contact Officer for any directorates, and so can not create EAs at this time.
- else
  - unless @service_areas.size > 0
    =image_tag("add_disabled.jpg", :style=>"float:right;")
  -else
    .orangeButton
      =link_to "Add EA", new_activity_path, :class=>"add"
  .clear
  - if @service_areas.size == 0
    %p
      You have no Service Areas in the Directorate you are the Directorate Contact Officer for, and hence cannot create an EA for any Service Areas.
  - if @activities.empty? && @service_areas.size > 0
    %p There are no active EAs for any directorates you are the Directorate Contact Officer for, you can create EAs using  the "Add EA" button above.
  -else
    .searchBox
      = form_tag '#', :id => 'searchForm' do
        %label Search for:
        = text_field_tag 'search_term', '', :class => 'textField'
        = submit_tag 'Search', :class => 'submitButton'
        %p Search will return all records with Service Area, Name, Ref No or Approver matching the search text.

    %table#sortable.searchable{:cellspacing=>"0", :cellpadding=>"0"}
      %thead
        %tr
          %th Service Area
          %th EA Name
          %th Ref no.
          %th Senior Officer
          %th.date.center Date Started
          %th.date.center Actual Completion
          %th.center Progress
          %th Actions
          %th.last
        %tr
          %th.sortControls
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
          %th.sortControls
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
          %th.sortControls
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
          %th.sortControls
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
          %th.sortControls
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
          %th.sortControls
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
          %th.sortControls
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
          %th.sortControls
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
            =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
          %th.sortControls.last
      %tbody
        - @activities.each do |activity|
          - updated = activity.activity_and_questions_updated_between(current_user.last_sign_in_at, current_user.current_sign_in_at) ? "recentlyChanged" : ""
          %tr{:class => cycle("light #{updated}", "dark #{updated}")}
            %td= activity.service_area.name
            %td= activity.name
            %td= activity.ref_no
            %td= activity.approver.try(:email)
            %td.center= activity.started && activity.actual_start_date ? activity.actual_start_date.to_s(:short) : "N/A"
            %td.center= activity.approved && activity.approved_on ? activity.approved_on.to_s(:short) : "N/A"
            %td.center= activity.progress
            %td= activity.relevant_action_count
            %td.last
              - if @service_areas.size > 0 && activity.approved?
                = link_to "clone", clone_activity_path(activity), :class => "action clone"
              - if activity.ready?
                = link_to "view", activity_path(activity), :class => "action view"
              - else
                = link_to "edit", edit_activity_path(activity), :class => "action edit"
