%h2 Directorate EINAs
.searchBox
  = form_tag '#', :id => 'searchForm' do
    %label Search for:
    = text_field_tag 'search_term', '', :class => 'textField'
    = submit_tag 'Search', :class => 'submitButton'
.orangeButton
  =link_to "Add Eina", new_activity_path, :class=>"add"
%table#sortable.searchable{:cellspacing=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th Service Area
      %th Activity Name
      %th Ref no.
      %th Approver
      %th.date Date Started
      %th.date Actual Completion
      %th Progress
      %th.last
    %tr
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"up", :title=>"sort ascending"
        =link_to raw("&nbsp;&nbsp;"),"#", :class=>"down", :title=>"sort descending"
      %th.sortControls.last
  %tbody
    - @activities.each do |activity|
      %tr{:class => cycle("light", "dark")}
        %td= activity.service_area.name
        %td= activity.name
        %td= activity.ref_no
        %td= activity.approver.email
        %td= #activity.started_date
        %td
        %td= activity.progress
        %td.last= link_to "view", activity_path(activity), :class => "action view"
