%h2 My EINAs
%table{:cellspacing=>"0", :cellpadding=>"0"}
  %tr
    %th Service Area
    %th Activity Name
    %th Ref no.
    %th Approver
    %th.date Date Started
    %th.date Actual Completion
    %th Progress
    %th.last
    
  %tr
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up selected", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %th.sortControls
      =link_to "sort ascending","#", :class=>"up", :title=>"sort ascending"
      =link_to "sort descending","#", :class=>"down", :title=>"sort descending"
    %td.last.sortControls
  - @activities.each do |activity|
    %tr{:class => cycle("light", "dark")}
      %td= activity.service_area.name
      %td= activity.name
      %td= activity.ref_no
      %td= activity.approver.email
      %td= #activity.started_date
      %td
      %td= activity.progress
      %td.last
        = link_to "edit", questions_activity_path(activity), :class => "action edit"
        = link_to "view", activity_path(activity), :class => "action edit", :target => "blank"
