%h1 
  Impact Equality&trade; - 
  =h @activity.name
.step#one 
  .stepImage
    =image_tag("1.png")
  .stepBox
    %h2 Activity Type
    %p Before you can start, the assessment Impact Equality&trade; asks you to classify the activity as either a Function or Policy and as either Existing or Proposed. You will be unable to move on to the rest of the tool until you have completed these questions.
    -form_for(:activity, :url => {:action => 'update_activity_type'}) do |f|
      %fieldset
        %p
          %label This is a:
          .labelled
            -fp_options = @activity.hashes['function_policy']['choices']
            = f.select :function_policy, @activity.hashes['choices'][fp_options].collect {|option| [option , @activity.hashes['choices'][fp_options].index(option)] }
        %p
          %label And is:
          .labelled
            -ep_options = @activity.hashes['existing_proposed']['choices']
            = f.select :existing_proposed, @activity.hashes['choices'][ep_options].collect {|option| [option , @activity.hashes['choices'][ep_options].index(option)] }
        %span.submit
          =image_tag("icons/tick.gif")
          =submit_tag "save"
-if @activity.started
  .step#two
    .stepImage
      =image_tag("2.png")
    .stepBox
      %h2 Overall Purpose
      %p What is the purpose of this Activity? After you have completed the purpose Assessment Section you will be asked which of the Equality Dimensions you wish to complete.
      %p 
        =image_tag("icons/view.gif")
        =link_to "Complete questions defining the overall purpose of the activity", { :controller => 'sections', :action => 'edit', :id => 'purpose', :equality_strand => 'overall' }, :title =>"Complete questions defining Overall Purpose of Activity"

  -if @activity.completed(:purpose) then
    .step#three
      .stepImage
        =image_tag("3.png")
      .stepBox
        %h2 Relevant Equality Strands
        %p The answers to your questions indicate that the activity is relevant to the marked Equality Dimensions.  Please indicate by ticking the box which you would like to include in the assessment.
        -@activity.overview_strands.each do |strand_name, strand|
          -selected = false
          %span.checkStrand
            -if @activity.strand_relevant?(strand) then
              -selected = true
            = check_box_tag(strand_name, strand_name, selected, :onclick =>"Element.toggle('row_#{strand_name}_on'); Element.toggle('row_#{strand_name}_off');")
            = observe_field(strand_name, :url => {:action => 'toggle_strand', :strand => strand, :controller => 'activities'})            
            %label
              =h strand.titleize
              -if @activity.relevant?(strand) then
                <br />
                %span.strandRelevant Recommended  
        %p 
        %h2 Equality Strand Questions
        %p The Impact Equality&trade; tool asks you questions under five Assessment Sections (purpose, impact, consultation, additional work, and action planning).
        %p Each set of questions can apply to each of the six Equality Dimensions (gender, race, disability, faith, sexual orientation, and age).
        %p The Assessment Sections and Equality Dimensions are set out as a table below.
        %p Click on the <img src="/images/icons/edit.gif" /> icon to answer the questions in that section. Click "Save" when you have finished work on a section.
        %p The section is complete when the <img src="/images/icons/cross.gif" /> turns into a <img src="/images/icons/tick.gif" />.  When all the <img src="/images/icons/cross.gif" />s are <img src="/images/icons/tick.gif" />s, you are finished!
        %table
          %tr{:style => "display:block;"}
            %th.strandHeading
            %th Impact
            %th Consultation
            %th Additional Work
            %th Action Planning
          -display_on = ""
          -display_off = ""
          -@activity.overview_strands.each do |strand_name, strand|
            -if @activity.strand_relevant?(strand) then
              -display_on = "block"
              -display_off = "none"
            -else
              -display_on = "none"
              -display_off = "block"
            %tr{:id => "row_#{strand_name}_on", :style => "display:#{display_on};"}
              %th.strandHeading
                =h strand_name.titleize
              %td
                = completed_tag(@activity, :impact, strand.to_sym)
                = link_to image_tag('icons/edit.gif'), { :controller => 'sections', :action => 'edit', :id => 'impact', :equality_strand => strand }, :title =>"Edit Impact"
              %td
                = completed_tag(@activity, :consultation, strand.to_sym)
                = link_to image_tag('icons/edit.gif'), { :controller => 'sections', :action => 'edit', :id => 'consultation', :equality_strand => strand }, :title =>"Edit Consultation"
              %td
                = completed_tag(@activity, :additional_work, strand.to_sym)
                = link_to image_tag('icons/edit.gif'), { :controller => 'sections', :action => 'edit', :id => 'additional_work', :equality_strand => strand }, :title =>"Edit Additional Work"
              %td
                = completed_tag(@activity, :action_planning, strand.to_sym)
                = link_to image_tag('icons/edit.gif'), { :controller => 'sections', :action => 'edit', :id => 'action_planning', :equality_strand => strand }, :title =>"Edit Action Planning"                
            %tr{:id => "row_#{strand_name}_off", :style => "display:#{display_off};"}
              %th.strandHeading
                =h strand_name.titleize
              %td
                %span.na - 
              %td
                %span.na -
              %td
                %span.na -
              %td
                %span.na -
