%h2
  =h @activity.name

.step{:class=>"#{!@activity.completed(:purpose) ? "current" : ""}"}
  .stepBox
    %h2 Initial Assessment
    %p What is the purpose of this EA? Completing this initial assesment section by clicking the links below:
    %p.width_445
      %span.letter
        a.
      %strong=link_to "Purpose and Outcomes", edit_purpose_a_activities_section_path(@activity), :title => "What is the EA for?"
      %span{:class => "completionRequired letter_completed #{'complete' if @activity.target_and_strategies_completed}"}
        =tick_cross_display(@activity.target_and_strategies_completed)
      %br
      %span.letter
        b.
      %strong=link_to "Individuals affected by the EA", edit_purpose_b_activities_section_path(@activity), :title =>"Individuals affected by the EA"
      %span{:class => "completionRequired letter_completed #{'complete' if @activity.impact_on_individuals_completed}"}
        =tick_cross_display(@activity.impact_on_individuals_completed)
    %p.width_445
      %span.letter
        c.
      %strong=link_to "Relevance Test", edit_purpose_c_activities_section_path(@activity), :title =>"Impact on Equality Groups"
      %span{:class => "completionRequired letter_completed #{'complete' if @activity.impact_on_equality_groups}"}
        =tick_cross_display(@activity.impact_on_equality_groups)
      %br
      %span.letter
        d.
      %strong=link_to "Comments on the initial assessment", edit_purpose_d_activities_section_path(@activity), :title =>"Initial Assessment Comments"
      %span{:class => "completionRequired letter_completed #{'complete' if @activity.questions.find_by_name('purpose_overall_13').completed?}"}
        =tick_cross_display(@activity.questions.find_by_name('purpose_overall_13').completed?)        
  .clear
  .stepFooter
-if @activity.completed(:purpose)
  .step{:class=>"#{@activity.completed(:purpose) ? "current" : ""}"}
    .stepBox
      %h2 Full Assessment
      %p
        %span.letter
          a.
        %strong
          Relevant Protected Characteristics
        %br
        %span.indented
          The Relevance Test in the Initial Assessment section shows which Protected Characteristics are relevant. These need to progress to Full Assessment and cannot be unselected.
      -@activity.overview_strands.each do |strand_name, strand|
        -selected = false
        %span.checkStrand
          -if @activity.strand_required?(strand) then
            = check_box_tag("#{strand}_checkbox", strand_name, true, :disabled =>true)
          -else
            = check_box_tag("#{strand}_checkbox", strand_name, @activity.strand_relevant?(strand), "data-path" => toggle_strand_activity_path(@activity, :strand => strand), :disabled => true)
          %label
            =h strand_display(strand).titlecase
            / -if @activity.impact_calculation(strand).to_i > 9 then
            /   <br />
            /   %span.strandRelevant Recommended
      .clear
      %p.width_445.strandsPresent{:style => "display:#{@activity.strands.size > 0 ? 'block' : 'none'}"}
        %span.letter
          b.
        %strong
          Assessment Questions
        %br        
        %span.indented
          The EA Toolkit asks you questions under four Assessment Sections (impact, consultation, additional work and action planning), for each of the Equality Dimensions selected as relevant.
          %br
          The Assessment Sections and Equality Dimensions are set out as a table below.
          %br
          Click on the <img src="/images/icons/edit.gif" /> icon to answer the questions in that section. Click "Save" when you have finished work on a section.
          %br
          The section is complete when the <img src="/images/icons/cross.gif" /> turns into a <img src="/images/icons/tick.gif" />.  When all the <img src="/images/icons/cross.gif" />s are <img src="/images/icons/tick.gif" />s, you are finished!
      %table.width_445.strandsPresent{:cellpadding=>"0", :cellspacing=>"0", :style => "display:#{@activity.strands.size > 0 ? 'block' : 'none'}"}
        %tr
          %th.strandHeading
          %th Impact
          %th Consultation
          %th Additional Work
          %th.last Action Planning
        -@activity.overview_strands.each do |strand_name, strand|
          -display_on = @activity.strand_relevant?(strand) || @activity.strand_required?(strand) ? "" : "display:none"
          %tr{:id => "row_#{strand}", :style => "#{display_on};", :class => "completionRequired #{'complete' if @activity.completed(nil, strand)}"}
            %th.strandHeading
              =h strand_display(strand).titlecase
            %td
              = completed_tag(@activity, :impact, strand.to_sym)
              = link_to image_tag('icons/edit.gif'), edit_activities_section_path(@activity, :equality_strand => strand, :section => "impact"), :title =>"Edit Impact", :id => "#{strand_name}_impact_pencil"
            %td
              = completed_tag(@activity, :consultation, strand.to_sym)
              = link_to image_tag('icons/edit.gif'),  edit_activities_section_path(@activity, :equality_strand => strand, :section => "consultation"), :title =>"Edit Consultation", :id => "#{strand_name}_consultation_pencil"
            %td
              = completed_tag(@activity, :additional_work, strand.to_sym)
              = link_to image_tag('icons/edit.gif'),  edit_activities_section_path(@activity, :equality_strand => strand, :section => "additional_work"), :title =>"Edit Additional Work", :id => "#{strand_name}_additional_work_pencil"
            %td.last
              - if @activity.issues_relevant?(strand.to_s) then              
                = completed_tag(@activity, :action_planning, strand.to_sym)
                = link_to image_tag('icons/edit.gif'),  edit_activities_section_path(@activity, :equality_strand => strand, :section => "action_planning"), :title =>"Edit Action Planning", :id => "#{strand_name}_action_planning_pencil"
              - else
                %span.na -
      %p.width_445.noStrands{:style => "display:#{@activity.strands.size > 0 ? 'none' : 'block'}"}
        %span.letter
          b.
        %strong
          Assessment Questions
        %br        
        %span.indented
          No strands selected as relevant.
                
      %p
        %span.letter{:class => "completionRequired #{'complete' if @activity.questions.find_by_name('purpose_overall_14').completed?}"}
          c.
        %strong=link_to "Final comments", edit_full_assessment_comment_activities_section_path(@activity), :title => "Full Assessment Comments"
        %span.letter_completed
          =tick_cross_display(@activity.questions.find_by_name('purpose_overall_14').completed?)
    .stepFooter
  -approval_vis = @activity.completed
  .step.approvalStep{:style => "#{'display:none' unless approval_vis}"}
    .stepBox
      %h2 Submit Equality Analysis for Quality Control and Approval
      %p
        If you are happy with the Equality Analysis, all that remains for you to do is submit it for Quality Control and approval. Upon submission you will no longer be able to change any of your answers. The Quality Control Officer and senior Officer will be able to see your answers and comments/analysis for the report but not the notes to yourself.
      -if @activity.submitted.nil? or !@activity.submitted
        %p{:style=>"text-align:center;"}
          =link_to "Submit",  submit_activity_path(@activity), :method => :POST, :class=>"orangeButton"
      -else
        %p#submitted_answers{:style=>"display:block;"}
          =image_tag('icons/tick.gif')
          Thank you for submitting your answers.
    .stepFooter
    .clear
  =image_tag('submit_assessment_preview.png', :class => "mockApprovalStep", :style => "#{'display:none' if approval_vis}")
  .clear
-else
  =image_tag('full_assessment_preview.png')
  =image_tag('submit_assessment_preview.png')
.clear