%h1
  Impact Equality&trade; -
  =h @activity.name
.step#one
  .stepImage
    =image_tag("1.png")
  .stepBox
    %h2 Activity Type
    %p Before you can start the assessment, Impact Equality&trade; asks you to classify the activity as either a Function or Policy and as either Existing or Proposed. You will be unable to move on to the rest of the tool until you have completed these questions.
    -form_for(:activity, :url => {:action => 'update_activity_type'}) do |f|
      %fieldset
        %p
          %label This is a:
          .labelled
            -fp_options = @activity.hashes['function_policy']['choices']
            = f.select :function_policy, @activity.hashes['choices'][fp_options].collect {|option| [option , @activity.hashes['choices'][fp_options].index(option)] }
        %p
          %label And is:
          .labelled
            -ep_options = @activity.hashes['existing_proposed']['choices']
            = f.select :existing_proposed, @activity.hashes['choices'][ep_options].collect {|option| [option , @activity.hashes['choices'][ep_options].index(option)] }
        %span.submit
          =submit_tag "save", {:disable_with => 'saving...', :id => 'save_activity_type_button'}
  .clear
-if @activity.started
  .step#two
    .stepImage
      =image_tag("2.png")
    .stepBox
      %h2 Overall Purpose
      %p What is the purpose of this Activity? After you have completed the purpose Assessment Section you will be asked which of the Equality Dimensions you wish to complete.
      %p
      
        %span.letter
          =image_tag("a.gif")
        =link_to "Target outcome and relevant strategic objectives", { :controller => 'sections', :action => 'edit', :id => 'purpose_a', :equality_strand => 'overall' }, :title =>"Target of Activity and Impact on Strategic Objectives"
        %span.letter_completed
          =tick_cross_display(@activity.target_and_strategies_completed)
        %br
        %span.letter
          =image_tag("b.gif")
        =link_to "Individuals affected by the activity", { :controller => 'sections', :action => 'edit', :id => 'purpose_b', :equality_strand => 'overall' }, :title =>"Impact on Individuals"
        %span.letter_completed
          =tick_cross_display(@activity.impact_on_individuals_completed)
        %br
        %span.letter
          =image_tag("c.gif")
        =link_to "Potential differential impact", { :controller => 'sections', :action => 'edit', :id => 'purpose_c', :equality_strand => 'overall' }, :title =>"Impact on Equality Groups"
        %span.letter_completed
          =tick_cross_display(@activity.impact_on_equality_groups)
    .clear
  -if @activity.completed(:purpose) then
    .step#three
      .stepImage
        =image_tag("3.png")
      .stepBox
        %h2 Relevant Equality Strands
        %p The answers to your questions indicate that the activity is relevant to the marked Equality Dimensions.  Please indicate by ticking the box which Equality Dimension you would like to include in the assessment, clicking on the tick again removes that Equality Dimension.
        -@activity.overview_strands.each do |strand_name, strand|
          -selected = false
          %span.checkStrand
            -if @activity.strand_relevant?(strand) then
              -selected = true
            = check_box_tag("#{strand}_checkbox", strand_name, selected, :onclick =>"Element.toggle('row_#{strand_name}_on'); Element.toggle('row_#{strand_name}_off'); #{@conditional_flip}")
            = observe_field("#{strand}_checkbox", :url => {:action => 'toggle_strand', :strand => strand, :controller => 'activities'})
            %label
              =h strand.titleize
              -if @activity.impact_calculation(strand).to_i > 9 then
                <br />
                %span.strandRelevant Recommended
        %p
        %h2 Equality Strand Questions
        %p The Impact Equality&trade; tool asks you questions under four Assessment Sections (impact, consultation, additional work and action planning).
        %p Each set of questions can apply to each of the six Equality Dimensions (gender, race, disability, faith, sexual orientation, and age).
        %p The Assessment Sections and Equality Dimensions are set out as a table below.
        %p Click on the <img src="/images/icons/edit.gif" /> icon to answer the questions in that section. Click "Save" when you have finished work on a section.
        %p The section is complete when the <img src="/images/icons/cross.gif" /> turns into a <img src="/images/icons/tick.gif" />.  When all the <img src="/images/icons/cross.gif" />s are <img src="/images/icons/tick.gif" />s, you are finished!
        %table
          %tr{:style => "display:block;"}
            %th.strandHeading
            %th Impact
            %th Consultation
            %th Additional Work
            %th Action Planning
          -display_on = ""
          -display_off = ""
          -@activity.overview_strands.each do |strand_name, strand|
            -if @activity.strand_relevant?(strand) then
              -display_on = "block"
              -display_off = "none"
            -else
              -display_on = "none"
              -display_off = "block"
            %tr{:id => "row_#{strand_name}_on", :style => "display:#{display_on};"}
              %th.strandHeading
                =h strand_name.titleize
              %td
                = completed_tag(@activity, :impact, strand.to_sym)
                = link_to image_tag('icons/edit.gif'), { :controller => 'sections', :action => 'edit', :id => 'impact', :equality_strand => strand }, :title =>"Edit Impact", :id => "#{strand_name}_impact_pencil"
              %td
                = completed_tag(@activity, :consultation, strand.to_sym)
                = link_to image_tag('icons/edit.gif'), { :controller => 'sections', :action => 'edit', :id => 'consultation', :equality_strand => strand }, :title =>"Edit Consultation", :id => "#{strand_name}_consultation_pencil"
              %td
                = completed_tag(@activity, :additional_work, strand.to_sym)
                = link_to image_tag('icons/edit.gif'), { :controller => 'sections', :action => 'edit', :id => 'additional_work', :equality_strand => strand }, :title =>"Edit Additional Work", :id => "#{strand_name}_additional_work_pencil"
              %td
                - if @activity.issues.find_by_strand(strand.to_s) then              
                  = completed_tag(@activity, :action_planning, strand.to_sym)
                  = link_to image_tag('icons/edit.gif'), { :controller => 'sections', :action => 'edit', :id => 'action_planning', :equality_strand => strand }, :title =>"Edit Action Planning", :id => "#{strand_name}_action_planning_pencil"
                - else
                  %span.na -
            %tr{:id => "row_#{strand_name}_off", :style => "display:#{display_off};"}
              %th.strandHeading
                =h strand_name.titleize
              %td
                %span.na -
              %td
                %span.na -
              %td
                %span.na -
              %td
                %span.na -
      .clear
  - if @current_user.class.name == "ActivityManager"
    .step#four{:style => (@activity.completed ? 'display:block' : 'display:none')}
      .stepImage
        =image_tag("4.png")    
      .stepBox
        %h2 Submit Assessment for Approval
        %p
          If you are happy with your answers, all that remains for you to do is submit them to be approved. Upon submission you will no longer be able to change any of your answers. Your approver will be able to see all your answers and comments, though not your notes.
        -if @activity.approved == "not submitted"
          %p#submit_answers{:style=>"display:block;"}
            =image_tag('icons/go.gif')
            =link_to "Submit",  {:controller => 'activities', :action => 'submit'}
        -else
          %p#submitted_answers{:style=>"display:block;"}
            =image_tag('icons/tick.gif')
            Thank you for submitting your answers.
      .clear
  - if @current_user.class.name == "ActivityApprover"
    .step#four_b{:style => "display:block"}
      .stepImage
        =image_tag("4.png")    
      .stepBox
        %h2 Submit Assessment for Approval
        %p
          If you are happy with your answers, all that remains for you to do is submit them to be approved. Upon submission you will no longer be able to change any of your answers. Your approver will be able to see all your answers and comments, though not your notes.
        -if @activity.approved == "not submitted"
          %p#submitted_answers
            =image_tag('icons/cross.gif')
            Activity answers have not been submitted for approval.
        -else
          %p#submitted_answers
            =image_tag('icons/tick.gif')
            Activity answers submitted for approval.
      .clear
    -if @activity.approved == "submitted" || @activity.approved == "approved"
      .step#five{:style =>"display:block"}
        .stepImage
          =image_tag("5.png")    
        .stepBox
          %h2 Approve / Reject Submitted Activity Answers
          %p If you are happy with the answers, all that remains for you to do is declare them to be approved. If you are not happy with the answers that have been submitted, you can return the activity to its Manager for further review.
          %p#reject_answers{:style=> (@activity.approved.to_s == "submitted"? 'display:block' : 'display:none')}
            =image_tag('icons/delete.gif')
            =link_to "Reject activity answers - send back to Activity Manager",  {:controller => 'activities', :action => 'unsubmit'}
            %br
            %br
            %span#approve_now{:style => (@activity.completed ? 'display:block' : 'display:none')}
              =image_tag('icons/go.gif')
              =link_to "Approve activity answers",  {:controller => 'activities', :action => 'approve'}
          %p#approved_answers{:style=>(@activity.approved.to_s == "approved" ? 'display:block' : 'display:none')}
            =image_tag('icons/tick.gif')
            Thank you for approving this activity.
        .clear
-if @activity.approved == "not submitted" || (@current_user.class.name == "ActivityApprover" && @activity.approved == "submitted")
  #disable{:style=>"display:none;"}
-else
  #disable{:style=>"display:block;"}
  -if @activity.approved == "approved" && @current_user.class.name == "ActivityApprover"
    #unapprove_box{:style=>"display:block;"}
      %p
        = image_tag("icons/delete.gif")
        = link_to_remote "Remove approved status", :url => {:action => 'unapprove', :controller => 'activities'}, :before => "$('unapprove_box').toggle(); $('disable').toggle(); $('approved_answers').toggle(); $('reject_answers').toggle()"
      .clear
  -if @activity.approved == "submitted" && @current_user.class.name == "ActivityManager" || @activity.approved == "approved" && @current_user.class.name == "ActivityManager"
    #unapprove_box{:style=>"display:block;"}
      %p This activity has been submitted for approval, thank you.
      .clear
.clear