.approverForm
  %h2= "Please give the reason for the rejection of #{@activity.name}" 
  = form_tag submit_rejection_activity_path, :class => "formtastic user" do
    %fieldset.approveInputs
      %ol
      = text_area_tag :email_contents, "I am unable to approve this EA because of the following reasons:"
    %fieldset.buttons
      %ol
        %li.commit
          = submit_tag "Reject"