- if @current_user.role == 'OrganisationManager'
  #view_activities_by
    View activities by: 
    =link_to_remote(ot('directorate').titleize.pluralize, :url => {:action => 'show_partial_by_status', :status => @status, :group => :directorate}, :update => 'show_activities')
    |
    =link_to_remote(ot('project').titleize.pluralize, :url => {:action => 'show_partial_by_status', :status => @status, :group => :project}, :update => 'show_activities')
  
%h3
  - case @current_user.role
  - when 'DirectorateManager'
    = @current_user.directorate.name.titleize
  - when 'ProjectManager'
    = @current_user.project.name.titleize
  = @current_user.level.titleize
  - if @status == :awaiting_approval
    Control Page - Activities Awaiting Approval
  - else
    = "Control Page - #{@status.to_s.titlecase} Activities"

- case @status
  - when :incomplete
    %p The table shows:
    %ul
      %li how each Activity is progressing through the assessment,
      %li when the Activity Manager was last sent an access key to enable them to undertake the assessment.
  - when :awaiting_approval
    %p The table shows:
    %ul
      %li activities that have progressed through the assessment and have been submitted for approval,
      %li when the Activity Approver was last sent an access key to enable them to undertake the approval.
  - when :approved
    %p The tables show all approved activities.
-if @current_user.role == 'OrganisationManager'
  %p
    %strong
      = "No #{ot 'directorate'}s created." if @directorates.empty?

-case @current_user.role
  -when 'DirectorateManager'
    -@groups = @directorates
  -when 'ProjectManager'
    -@groups = @projects
    
#show_activities
  - if @groups
    = render :partial => "#{@status}_for_middle_manager"
  - else
    = render :partial => "#{@status}_by_directorate"