%h3
  = "#{@activity.name} Activity Summary"

%h4 Section Summaries:
  
#purpose_top{:style=>"display:block;"}
  %fieldset.section_summary_header
    %legend Purpose
    %legend.section_summary_toggles
      = link_to_function '<img src="/images/arrow_out.jpg">view summary ', "Element.toggle('show_purpose'); Element.toggle('purpose_top')", :title => 'View Summary'


#show_purpose{:style=>"display:none;"}
  %fieldset.section_summary_show
    %legend Purpose
    %legend.section_summary_toggles
      = link_to_function '<img src="/images/arrow_in.jpg">close', "Element.toggle('show_purpose'); Element.toggle('purpose_top')", :title => 'Close Summary View'
    = render 'sections/show_purpose'

-if @activity.relevant_strands.size > 0 then 
  #impact_top{:style=>"display:block;"}
    %fieldset.section_summary_header
      %legend Impact
      %legend.section_summary_toggles
        = link_to_function '<img src="/images/arrow_out.jpg">view summary ', "Element.toggle('show_impact'); Element.toggle('impact_top')", :title => 'View Summary'

  #show_impact{:style=>"display:none;"}
    %fieldset.section_summary_show
      %legend Impact
      %legend.section_summary_toggles
        = link_to_function '<img src="/images/arrow_in.jpg">close', "Element.toggle('show_impact'); Element.toggle('impact_top')", :title => 'Close Summary View'
      = render 'sections/show_impact'

  #consultation_top{:style=>"display:block;"}
    %fieldset.section_summary_header
      %legend Consultation
      %legend.section_summary_toggles
        = link_to_function '<img src="/images/arrow_out.jpg">view summary', "Element.toggle('show_consultation'); Element.toggle('consultation_top')", :title => 'View Summary'
          
  #show_consultation{:style=>"display:none;"}
    %fieldset.section_summary_show
      %legend Consultation
      %legend.section_summary_toggles
        = link_to_function '<img src="/images/arrow_in.jpg">close', "Element.toggle('show_consultation'); Element.toggle('consultation_top')", :title => 'Close Summary View'
      = render 'sections/show_consultation'


  #additional_work_top{:style=>"display:block;"}
    %fieldset.section_summary_header
      %legend Additional Work
      %legend.section_summary_toggles
        = link_to_function '<img src="/images/arrow_out.jpg">view summary', "Element.toggle('show_additional_work'); Element.toggle('additional_work_top')", :title => 'View Summary'

  #show_additional_work{:style=>"display:none;"}
    %fieldset.section_summary_show
      %legend Additional Work
      %legend.section_summary_toggles
        = link_to_function '<img src="/images/arrow_in.jpg">close', "Element.toggle('show_additional_work'); Element.toggle('additional_work_top')", :title => 'Close Summary View'
      = render 'sections/show_additional_work'

  #action_planning_top{:style=>"display:block;"}
    %fieldset.section_summary_header
      %legend Action Planning
      %legend.section_summary_toggles
        = link_to_function '<img src="/images/arrow_out.jpg">view summary', "Element.toggle('show_action_planning'); Element.toggle('action_planning_top')", :title => 'View Summary'

  #show_action_planning{:style=>"display:none;"}
    %fieldset.section_summary_show
      %legend Action Planning
      %legend.section_summary_toggles
        = link_to_function '<img src="/images/arrow_in.jpg">close', "Element.toggle('show_action_planning'); Element.toggle('action_planning_top')", :title => 'Close Summary View'
      = render 'sections/show_action_planning'
