%tr
  %td
    = image_tag(log.icon)
  %td
    %p{:align => "left"}
      - case log.class.to_s
        - when "LoginLog"
          = mail_to log.user.email.to_s if log.user
          logged in
        - when "LogoutLog"
          = mail_to log.user.email.to_s if log.user
          logged out
        -when "FailedLoginLog"
          = mail_to log.user.email.to_s if log.user
        - when "PDFLog"
          The PDF for the
          %strong
            = log.find_activity_name
          EA, within directorate
          %strong
            = log.find_directorate_name
          , was viewed by
          = mail_to log.user.email.to_s if log.user
      = log.message
  %td{:width => 190}
    %p{:align => "right"}
      =raw log.created_at.strftime("<strong>%a #{log.created_at.day.ordinalize} %B</strong>, %k:%M")