= f.fields_for :questions, question do |q|
  -if question.dependency
    -displayString = "none"
    -if question.dependency.satisfied?
      -displayString = "block"
    
    %p.question.sub{:id => "#{question.name}", :style => "display:#{displayString};", 'data-dependencies' => question.dependency_mapping.to_json}
      %label
        =question.label
      %labelled
        -case question.input_type.to_sym    
          -when :text
            = q.text_area :raw_answer
          -when :string
            = q.text_field :raw_answer
          -when :select
            = q.select :raw_answer, question.choices.map{|choice| [choice, question.choices.index(choice)]}, {}, :id => question.name
  -else
    %p.question{:id => "#{question.name}", :style => "display:block;", 'data-dependencies' => question.dependency_mapping.to_json}
      %label
        =question.label
      %labelled
        -case question.input_type.to_sym    
          -when :text
            = q.text_area :raw_answer, :id => question.name
          -when :string
            = q.text_field :raw_answer, :id => question.name
          -when :select
            - if question.name == "consultation_#{question.strand}_1" || question.name == "consultation_#{question.strand}_4"
              = q.select :raw_answer, question.choices.map{|choice| [choice, question.choices.index(choice)]}, {},  :id => question.name, :class => "consultation_checker"
            - else
              = q.select :raw_answer, question.choices.map{|choice| [choice, question.choices.index(choice)]}, {},  :id => question.name