%h1#questions
  =h @activity.name
%h2
  %span.letter
    ="#{@letter}."
  - if @question_reference == 13
    Summary comment on Initial Assessment
  - else
    Summary comment on Full Assessment
#questions.assessmentComments
  = render :partial => 'question_help', :collection => question_details(:purpose, @equality_strand, [@question_reference])
  =form_for(@activity, :url => activities_section_path(@activity)) do |f|
    = render :partial => 'question', :collection => question_details(:purpose, @equality_strand, [@question_reference]), :locals => {:f => f}
    = hidden_field_tag 'id', @id 
    = hidden_field_tag 'equality_strand', @equality_strand
    %p.question.saveField
      %span.button
        = submit_tag 'Save', :disable_with => 'Saving...', :id => 'section_save_button'
  .clear
