%h1#questions=h @activity.name
%h2
  %span.letter
    c.
  Relevance Test
#questions
  = render :partial => 'question_help', :collection => question_details(:purpose, 'gender', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'race', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'disability', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'faith', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'sexual_orientation', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'age', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'gender_reassignment', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'pregnancy_and_maternity', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'marriage_civil_partnership', [3])
  =form_for(@activity, :url => activities_section_path(@activity)) do |f|
    = render :partial => 'intro'

    %h5
      This section identifies if the policy is relevant to any of the nine protected characteristics.
    %p{:style => "width:590px"}
      The policy will be relevant to a protected characteristic if it has any of the following effects on individuals who have that particular protected characteristic:
    %ul{:style => "padding-left: 20px"}
      %li{:style => "list-style-type:disc"} Eliminating discrimination
      %li{:style => "list-style-type:disc"} Advancing equality of opportunity
      %li{:style => "list-style-type:disc"} Fostering good relations
      %li{:style => "list-style-type:disc"} Protecting human rights
    %p{:style => "width:590px"}
      The policy will also be relevant if it has any differential impact, positive or negative, on individuals having one or more protected characteristics because of that characteristic.
    
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'gender', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'race', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'disability', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'faith', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'sexual_orientation', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'age', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'gender_reassignment', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'pregnancy_and_maternity', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'marriage_civil_partnership', [3]), :locals => {:f => f}

    = hidden_field_tag 'id', @id 
    = hidden_field_tag 'equality_strand', @equality_strand
    %p.question.saveField
      %span.button
        = submit_tag 'Save', :disable_with => 'Saving...', :id => 'section_save_button'
  .clear
