%h1#questions=h @activity.name + " - " + strand_display(@equality_strand).titlecase + " - Action Planning"

#questions.no_help
  = form_for @activity, :url => activities_section_path(@activity) do |form|
    %h4 In the Impact section you identified the following issues to be addressed:
    - if @impact_issues.size > 0    
      %ul
        = form.fields_for :issues, @impact_issues do |f|
          = render :partial => 'review_issue', :locals => {:issue_form => f}
    - else
      %p.noIssue No issues to plan actions for.
      
    %h4 In the Consultation section you identified the following issues to be addressed:
    - if @consultation_issues.size > 0
      %ul
        = form.fields_for :issues, @consultation_issues do |f|
          = render :partial => 'review_issue', :locals => {:issue_form  => f}
    - else
      %p.noIssue No issues to plan actions for.
    %p.question
      %span.button
        = submit_tag 'Save', :disable_with => 'Saving...', :id => 'section_save_button'
  .clear
