%h1#questions=h @activity.name
%h2
  %span.letter
    c.
  Relevance Test
#questions
  = render :partial => 'question_help', :collection => question_details(:purpose, 'gender', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'race', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'disability', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'faith', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'sexual_orientation', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'age', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'gender_reassignment', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'pregnancy_and_maternity', [3])
  = render :partial => 'question_help', :collection => question_details(:purpose, 'marriage_civil_partnership', [3])
  =form_for(@activity, :url => activities_section_path(@activity)) do |f| 
    %p{:style => "width:590px"}
      ="Please complete this section in full. The #{@activity.activity_type_name} will be relevant to any of the protected characteristics if it has any of the following effects on individuals who have that particular protected characteristic:"
    %ul{:style => "padding-left: 20px"}
      %li{:style => "list-style-type:disc; width:550px"} Eliminating discrimination, harassment and victimisation
      %li{:style => "list-style-type:disc; width:550px"} Advancing equality of opportunity between persons who share a relevant protected characteristic and persons who do not share it
      %li{:style => "list-style-type:disc; width:550px"} Foster good relations between persons who share a relevant protected characteristic and persons who do not share it.
    %p{:style => "width:590px"}
      ="The #{@activity.activity_type_name} will also be relevant if it has any differential impact, positive or negative, on individuals having one or more protected characteristics because of that characteristic."
    %p{:style => "width:590px"}= "Which PC is the #{@activity.activity_type_name} relevant/not relevant to and please explain your answer in detail using the Comment/Analysis for Report."
    %h5
      The following section should be used to indicate if the policy or function is relevant to any of the nine protected characteristics.
    
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'race', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'age', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'faith', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'sexual_orientation', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'marriage_civil_partnership', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'gender_reassignment', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'disability', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'gender', [3]), :locals => {:f => f}
    = render :partial => 'question_compact', :collection => question_details(:purpose, 'pregnancy_and_maternity', [3]), :locals => {:f => f}

    = hidden_field_tag 'id', @id 
    = hidden_field_tag 'equality_strand', @equality_strand
    %p.question.saveField
      %span.button
        = submit_tag 'Save', :disable_with => 'Saving...', :id => 'section_save_button'
  .clear
