!!!
%html{ 'xmlns' =>'https://www.w3.org/1999/xhtml', 'xml:lang'=> 'en' , 'lang' => 'en' }
  %head
    %title
      Equality Risk Toolkit :
      = "#{controller.controller_name} : #{controller.action_name}".titleize
    %meta{'http-equiv' => 'cache-control', 'content'=>'no-store'}
    %meta{'http-equiv' => 'pragma', 'content'=>'no-cache'}
    %meta{'http-equiv' => 'content-type', 'content'=>'text/html;charset=UTF-8'}
    =stylesheet_link_tag :application
    - if @current_user.respond_to?(:organisation) && !@current_user.organisation.nil? then
      =raw "<style>.mastHead .logo { background-image: url(/images/organisations/#{@current_user.organisation.id}.png);}</style>"
    - if controller.action_name=='signup'
      =raw "<style>.mastHead .logo { background-image: url(/images/free_signup.png);}</style>"
    = javascript_include_tag :application
    =raw "<!--[if lt IE 7]> #{stylesheet_link_tag 'fixes_ie6'}<![endif]-->"
    =raw "<!--[if lt IE 7]> #{javascript_include_tag 'jquery.pngFix.js'}<![endif]-->"
    =raw "<!--[if gte IE 7]> #{stylesheet_link_tag 'fixes_ie7'}<![endif]-->"
    =csrf_meta_tag
    =favicon_link_tag
  %body
    - if @banner_text
      #banner
        = @banner_text
    .container
      .mastHead
        #loggedMenu
          %ul
            %li.nohover= login_status() unless controller.action_name=='signup'
            - if current_user
              %li.nohover="|"
              %li
                =link_to "Logout", destroy_user_session_path
        - if current_user && (current_user.creator? || current_user.corporate_cop? || current_user.directorate_cop?)
          #creatorMenu
            %ul
              - if current_user.creator? || current_user.corporate_cop?
                %li{:class=>"#{@selected == "directorates" ? "current" : ""}"}=link_to "Directorates", directorates_path
              - if current_user.directorate_cop?
                - if current_user.creator?
                  %li.nohover="|"
                %li{:class=>"#{@selected == "service_areas" ? "current" : ""}"}=link_to "Service Areas", service_areas_path
              - if current_user.corporate_cop?
                %li.nohover="|"
                %li{:class=>"#{@selected == "strategies" ? "current" : ""}"}=link_to "Strategic Outcomes", strategies_path
        - unless current_user.is_a? Administrator
          #generalMenu
            %ul
              =raw activities_menu.map{|text, link| content_tag("li", link_to(text, link), :class => "#{@selected == text.to_s.downcase.gsub(' ','_') ? 'current' : ''}")}.join(content_tag("li", "|", :class =>"nohover"))
        - else
          #generalMenu
            %ul
              %li.current
                = link_to "Users", users_path
      #breadcrumb
        %p
          Borchester Town Council Equality Risk Toolkit
          - if @breadcrumb
            - @breadcrumb.each do |segment, link|
              =raw "&raquo;"
              - if link
                =link_to segment, link
              - else
                =segment
      - if flash[:notice]
        .messageArea
          %p
            =flash[:notice]
      - if flash[:error]
        .messageArea
          %p
            =flash[:error]
      .content
        .workingArea
          #content_holder
            = yield
            .clear
          -# if @activity && @activity.submitted
            .mask
          .clear
        .clear

      .clear

      .footer
        %p
          =raw "Powered by <a href='http://www.impactequality.co.uk' target = '_blank'>Black Radley</a>."
      .clear
        / |
        / = link_to "Terms of Use", :controller => 'users', :action => 'terms_and_conditions'
        / |
        / = link_to "Your Privacy", :controller => 'users', :action => 'privacy_protection'
