%html{ 'xmlns' =>'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'en' , 'lang' => 'en' }
  %head 
    %title 
      Impact Equality&trade; : 
      = "#{controller.controller_name} : #{controller.action_name}".titleize
    %meta{'http-equiv' => 'content-type', 'content'=>'text/html;charset=UTF-8'}
    = stylesheet_link_merged :base
    =stylesheet_link_tag 'tables'
    -unless @current_user.nil? then
      -if @current_user.class.name == 'ActivityManager'
        = stylesheet_link_merged @current_user.activity.organisation.style.to_sym
      -elsif @current_user.class.name == 'OrganisationManager' 
        = stylesheet_link_merged @current_user.organisation.style.to_sym
    = javascript_include_merged :base        
    = "<!--[if lt IE 7]> #{stylesheet_link_tag 'fixes_ie6'}<![endif]-->" 
    = "<!--[if gte IE 7]> #{stylesheet_link_tag 'fixes_ie7'}<![endif]-->"
    %link{:href=>'/images/favicon.ico', :rel=>'icon', :type=>"image/x-icon"}
  %body
    - if DEV_MODE
      #banner
        = @banner_text
    .container
      .mastHead
        .logo
      .content
        #menu
          #menuBar
            #organisation
            = menu() unless @hide_menu
        .messageArea
          %p
            =h flash[:notice]
        .workingArea
          #content_holder
            = yield
      .clear
      .footer
        .floatLeft
          = login_status() 
      .clear
    #body_footer
      Copyright &copy; 2008 Black Radley Systems Limited. All rights reserved. | 
      = link_to "Terms of Use", :controller => 'users', :action => 'terms_and_conditions'
      |
      = link_to "Your Privacy", :controller => 'users', :action => 'privacy_protection' 
