!!! transitional
%html{ 'xmlns' =>'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'en' , 'lang' => 'en' }
  %head 
    %title 
      Impact Equality&trade; : 
      = "#{controller.controller_name} : #{controller.action_name}".titleize
    %meta{'http-equiv' => 'content-type', 'content'=>'text/html;charset=UTF-8'}
    =raw(stylesheet_link_merged :base)
    =raw(stylesheet_link_tag 'tables')
    - if @current_user.respond_to?(:organisation) && !@current_user.organisation.nil? then
      =raw "<style>.mastHead .logo { background-image: url(/images/organisations/#{@current_user.organisation.id}.png);}</style>"
    - if controller.action_name=='signup'
      =raw "<style>.mastHead .logo { background-image: url(/images/free_signup.png);}</style>"
    =raw javascript_include_merged :base
    =raw  "<!--[if lt IE 7]> #{stylesheet_link_tag 'fixes_ie6'}<![endif]-->"
    =raw "<!--[if lt IE 7]> #{javascript_include_tag 'jquery.pngFix.js'}<![endif]-->"
    =raw "<!--[if gte IE 7]> #{stylesheet_link_tag 'fixes_ie7'}<![endif]-->"
    = csrf_meta_tag
    %link{:href=>'/images/favicon.ico', :rel=>'icon', :type=>"image/x-icon"}
  %body
    - if @banner_text
      #banner
        = @banner_text
    .container
      .mastHead
        #loggedMenu
          %ul
            %li.nohover= login_status() unless controller.action_name=='signup'
            %li.nohover="|"
            %li
              =link_to "Logout", "#"
        #creatorMenu
          %ul
            %li{:class=>"current"}=link_to "Directorates", "#"
            %li.nohover="|"
            %li=link_to "Service Areas", "#"
            %li.nohover="|"
            %li=link_to "Strategic Themes", "#"
        #generalMenu
          %ul
            %li=link_to "Directorate EINAs", "#"
            %li.nohover="|"
            %li=link_to "My EINAs", "#"
            %li.nohover="|"
            %li=link_to "Assisting", "#"
            %li.nohover="|"
            %li=link_to "Quality Control", "#"
            %li.nohover="|"
            %li=link_to "Approval", "#"
            %li.nohover="|"
            %li=link_to "Directorate EINAs Goverance", "#"
            %li.nohover="|"
            %li=link_to "Corporate EINAs", "#"
          = menu() unless @hide_menu
      #breadcrumb
        %p
          Birmingham City Council EINA Toolkit
          =raw "&raquo;"
          =link_to "Directorates", "#"
          =raw "&raquo;"
          Add new Directorate
      .content      
        .messageArea
          %p
            =h flash[:notice]
        .workingArea
          #content_holder
            .searchBox
              %label Search for:
              %input{:type=>"text"}
              %input{:type=>"submit", :value=>"Search"}
            .orangeButton
              =link_to "Generate Schedule", "#", :class=>"cal"
            .orangeButton
              =link_to "Add new Assessment", "#", :class=>"add"
            
            %table{:cellpadding=>"0", :cellspacing=>"0", :border=>"1"}
              %tr
                %th Service Area
                %th Activity Name
                %th Ref No.
                %th Approver
                %th Date Started
                %th Date Completed
                %th Progress
                %th
              %tr{:class=>"light"}
                %td Waste Management
                %td Refuse Collection
                %td AC-0111BB
                %td
                  =link_to "fred.kwan@birmingham...", "mailto:fred.kwan@birmingham.co.uk"
                %td 03-Dec-10
                %td 23-May-11
                %td NS
                %td
                  =link_to "edit", "#", :class=>"action edit"
              %tr{:class=>"dark"}
                %td Waste Management
                %td Refuse Collection
                %td AC-0111BB
                %td
                  =link_to "fred.kwan@birmingham...", "mailto:fred.kwan@birmingham.co.uk"
                %td 03-Dec-10
                %td 23-May-11
                %td NS
                %td
                  =link_to "edit", "#", :class=>"action edit"  
              %tr{:class=>"light"}
                %td Waste Management
                %td Refuse Collection
                %td AC-0111BB
                %td
                  =link_to "fred.kwan@birmingham...", "mailto:fred.kwan@birmingham.co.uk"
                %td 03-Dec-10
                %td 23-May-11
                %td NS
                %td
                  =link_to "edit", "#", :class=>"action edit"
              %tr{:class=>"dark"}
                %td Waste Management
                %td Refuse Collection
                %td AC-0111BB
                %td
                  =link_to "fred.kwan@birmingham...", "mailto:fred.kwan@birmingham.co.uk"
                %td 03-Dec-10
                %td 23-May-11
                %td NS
                %td
                  =link_to "edit", "#", :class=>"action edit"
            = yield
      .clear

      .footer
        %p
          =raw "&copy; 2011 Birmingham City Council EINA Toolkit, Powered by <a href='#'>Black Radley Systems Limited</a>. All rights reserved."
      .clear
    - @new_signup = true
    - if @new_signup
      %script{:type=>"text/javascript"}
        <!--
        var google_conversion_id = 1039743772;
        var google_conversion_language = "en";
        var google_conversion_format = "2";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "2-OjCNilugEQnPbk7wM";
        var google_conversion_value = 0;
        //-->
      %script{:type => "text/javascript", :src => "http://www.googleadservices.com/pagead/conversion.js"}
      %noscript
        %div{:style => "display:inline;"}
          %img{:height=>"1", :width => "1", :style=>"border-style:none;", :alt=>"", :src=>"http://www.googleadservices.com/pagead/conversion/1039743772/?label=2-OjCNilugEQnPbk7wM&amp;guid=ON&amp;script=0"}
        / | 
        / = link_to "Terms of Use", :controller => 'users', :action => 'terms_and_conditions'
        / |
        / = link_to "Your Privacy", :controller => 'users', :action => 'privacy_protection' 
