!!! transitional
%html{ 'xmlns' =>'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'en' , 'lang' => 'en' }
  %head 
    %title 
      EINA Toolkit : 
      = "#{controller.controller_name} : #{controller.action_name}".titleize
    %meta{'http-equiv' => 'content-type', 'content'=>'text/html;charset=UTF-8'}
    =raw(stylesheet_link_merged :base)
    =raw(stylesheet_link_tag 'tables')
    - if @current_user.respond_to?(:organisation) && !@current_user.organisation.nil? then
      =raw "<style>.mastHead .logo { background-image: url(/images/organisations/#{@current_user.organisation.id}.png);}</style>"
    - if controller.action_name=='signup'
      =raw "<style>.mastHead .logo { background-image: url(/images/free_signup.png);}</style>"
    =raw javascript_include_merged :base
    - if params[:controller] == "users"
      = javascript_include_tag "admin"
    =raw  "<!--[if lt IE 7]> #{stylesheet_link_tag 'fixes_ie6'}<![endif]-->"
    =raw "<!--[if lt IE 7]> #{javascript_include_tag 'jquery.pngFix.js'}<![endif]-->"
    =raw "<!--[if gte IE 7]> #{stylesheet_link_tag 'fixes_ie7'}<![endif]-->"
    = csrf_meta_tag
    %link{:href=>'/images/favicon.ico', :rel=>'icon', :type=>"image/x-icon"}
  %body
    - if @banner_text
      #banner
        = @banner_text
    .container
      .mastHead
        #loggedMenu
          %ul
            %li.nohover= login_status() unless controller.action_name=='signup'
            - if current_user
              %li.nohover="|"
              %li
                =link_to "Logout", logout_path
        - if current_user && current_user.creator?
          #creatorMenu
            %ul
              %li{:class=>"#{@selected == "directorates" ? "current" : ""}"}=link_to "Directorates", directorates_path
              %li.nohover="|"
              %li{:class=>"#{@selected == "service_areas" ? "current" : ""}"}=link_to "Service Areas", service_areas_path
              %li.nohover="|"
              %li{:class=>"#{@selected == "strategies" ? "current" : ""}"}=link_to "Strategic Themes", strategies_path
        - unless current_user.is_a? Administrator
          #generalMenu
            %ul
              =raw activities_menu.map{|text, link| content_tag("li", link_to(text, link), :class => "#{@selected == text.to_s.downcase.gsub!(' ','_') ? 'current' : ''}")}.join(content_tag("li", "|", :class =>"nohover"))
      #breadcrumb
        %p
          Birmingham City Council EINA Toolkit
          - if @breadcrumb
            - @breadcrumb.each do |segment, link|
              =raw "&raquo;"
              - if link
                =link_to segment, link
              - else
                =segment
      - if flash[:notice]
        .messageArea
          %p
            =flash[:notice]
      .content      
        .workingArea
          #content_holder
            = yield
      .clear

      .footer
        %p
          =raw "Powered by <a href='#'>Black Radley</a>."
      .clear
    - @new_signup = true
    - if @new_signup
      %script{:type=>"text/javascript"}
        <!--
        var google_conversion_id = 1039743772;
        var google_conversion_language = "en";
        var google_conversion_format = "2";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "2-OjCNilugEQnPbk7wM";
        var google_conversion_value = 0;
        //-->
      %script{:type => "text/javascript", :src => "http://www.googleadservices.com/pagead/conversion.js"}
      %noscript
        %div{:style => "display:inline;"}
          %img{:height=>"1", :width => "1", :style=>"border-style:none;", :alt=>"", :src=>"http://www.googleadservices.com/pagead/conversion/1039743772/?label=2-OjCNilugEQnPbk7wM&amp;guid=ON&amp;script=0"}
        / | 
        / = link_to "Terms of Use", :controller => 'users', :action => 'terms_and_conditions'
        / |
        / = link_to "Your Privacy", :controller => 'users', :action => 'privacy_protection' 
