!!! transitional
%html{ 'xmlns' =>'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'en' , 'lang' => 'en' }
  %head 
    %title 
      Impact Equality&trade; : 
      = "#{controller.controller_name} : #{controller.action_name}".titleize
    %meta{'http-equiv' => 'content-type', 'content'=>'text/html;charset=UTF-8'}
    =raw(stylesheet_link_merged :base)
    =raw(stylesheet_link_tag 'login')
    =raw javascript_include_merged :base
    =raw  "<!--[if lt IE 7]> #{stylesheet_link_tag 'fixes_ie6'}<![endif]-->"
    =raw "<!--[if lt IE 7]> #{javascript_include_tag 'jquery.pngFix.js'}<![endif]-->"
    =raw "<!--[if gte IE 7]> #{stylesheet_link_tag 'fixes_ie7'}<![endif]-->"
    = csrf_meta_tag
    %link{:href=>'/images/favicon.ico', :rel=>'icon', :type=>"image/x-icon"}
  %body
    - if @banner_text
      #banner
        = @banner_text
    .loginContainer
      = yield
      .clear
    .loginFooter
      %p
        =raw "&copy; 2011 Birmingham City Council EINA Toolkit, Powered by <a href='#'>Black Radley Systems Limited</a>. All rights reserved."