%html{ 'xmlns' =>'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'en' , 'lang' => 'en' }
  %head 
    %title 
      Impact Equality&trade;
    %meta{'http-equiv' => 'content-type', 'content'=>'text/html;charset=UTF-8'}
    =javascript_include_tag :defaults
    =stylesheet_link_tag 'productPage'
    = "<!--[if lt IE 7]> #{stylesheet_link_tag 'productPage_ie6'}<![endif]-->" 
    = "<!--[if gte IE 7]> #{stylesheet_link_tag 'productPage_ie7'}<![endif]-->"   
    %link{:href=>'/images/favicon.ico', :rel=>'icon', :type=>"image/x-icon"}
  %body
    #productPage_container
      #productPage_banner
        #productPage_logo
          =link_to " ", "http://www.blackradley.com/"
      #productPage_content
        = yield
        %span.footer
          =image_tag("productPage_content_bottom.jpg")
        .clear
      .clear